{% load i18n %}
{% extends "html/base_login.html" %}

{% block title %}{% trans %}Set domain up{% endtrans %}{% endblock %}

{% block page %}
<div class="login-block">

    <div style="text-align: center;">
  		<a href="{% url home %}"><img src="{% url core_logo_image_ie %}" alt="Tree.io" class="logo-large" /></a>
  	</div>

    <form method="post" action="{% url database_setup %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div>The sql engine settings</div>
        <ul class="content-form-fields">
            {{ sql_form.as_ul()|htsafe }}
        </ul>
        <div class="content-form-submit">
            <input type="submit" name="save" value="{% trans %}Create{% endtrans %}">
            <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
        </div>
    </form>
    
</div>
{% endblock %}
