{% load i18n %}
{% extends "html/base_login.html" %}

{% block title %}{% trans %}Success{% endtrans %}!{% endblock %}

{% block page %}

<div class="login-block">

  <div style="text-align: center;">
    <a href="{% url home %}"><img src="{% url core_logo_image_ie %}" alt="Tree.io" class="logo-large" /></a>
  </div>
    <br />

            <div style="text-align: left;" class="yellow">
                <p>
                	{% trans %}We've sent you a message.
                	<br />Please check your e-mail box for instructions on how to restore your password{% endtrans %}.
				</p>
            
                <p>{% trans %}Thank you!{% endtrans %}</p>
            </div>
			
			<p>
				<a href="{% url user_login %}">{% trans %}Send me back to the log in screen{% endtrans %}</a>
			</p>
</div>
{% endblock %}
