{% load i18n %}
{% extends "html/services/page.html" %}

{% block title %}{% trans %}Agents{% endtrans %} | {% trans %}Service Support{% endtrans %}{% endblock %}

{% block class_agent_index %}sidebar-link-active{% endblock %}

{% block module_title %}{% trans %}Agents{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url services_agent_add %}" class="top-menu add-link">{% trans %}New Agent{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Filter by{% endtrans %}</span>
<form action="" method="get" class="content-filter-form">
    <ul class="content-filter-form-fields">
        {{ filters.as_ul()|htsafe }}
    </ul>
    <input type="submit" value="{% trans %}Submit{% endtrans %}">
</form>
<br />

<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  <a class="csv-block-link" {% if '?' in request.get_full_path() %}href="{{ request.get_full_path()|replace('.ajax','').replace('?','.csv?') }}"{% else %}href="{{ request.get_full_path()|replace('.ajax','') }}.csv"{% endif %} target="_self">CSV</a></span></span>
{% endblock %}

{% block module_content %}

{% for agent in agents %}
<div class="content-list-item content-list-item-{{ loop.cycle('odd', 'even') }}">
    <div class="content-list-tick">
    </div>
    <span class="content-list-item-name">
        <a href="{% url services_agent_view agent.id %}">{{ agent }}</a>
        <a href="{% url identities_user_view agent.related_user_id %}" class="author-link small popup-link">{{ agent.related_user.get_username() }}</a>
    </span>
    <span class="content-list-item-actions">
        {% if user.get_profile().has_permission(agent, mode='w') %}
        <a href="{% url services_agent_edit agent.id %}" class="inline-link edit-link">{% trans %}Edit{% endtrans %}</a>
        {% endif %}
    </span>
</div>
{% endfor %}

{% endblock %}
