{% load i18n %}
{% extends "html/page.html" %}

{% block title %}{% trans %}Service Support{% endtrans %}{% endblock %}

{% block content %}

<table>
    <tr>
        <td class="module-sidebar">
		{{ logo_block_container() }}
		<div>
        <a href="{% url services_index %}" class="sidebar-link {% block class_all %}{% endblock %}">{% trans %}All Tickets{% endtrans %}</a>
        <a href="{% url services_index_owned %}" class="sidebar-link {% block class_owned %}{% endblock %}">{% trans %}Called by me{% endtrans %}</a>
        {% if agent %}
        <a href="{% url services_index_assigned %}" class="sidebar-link {% block class_assigned %}{% endblock %}">{% trans %}Assigned to me{% endtrans %}</a>
        {% endif %}

        {% block service_ticket_queues %}
        {% if queues %}
        <span class="sidebar-header">{% trans %}Queues{% endtrans %}</span>
        {% for queue in queues %}
        <a href="{% url services_queue_view queue.id %}" class="sidebar-link">{{ queue }}</a>
        {% endfor %}
        {% endif %}
        {% endblock %}

        {% block service_ticket_statuses %}
        {% if statuses %}
        <span class="sidebar-header">{% trans %}By Status{% endtrans %}</span>
        {% for status in statuses %}
        <a href="{% url services_status_view status.id %}" class="sidebar-link">{{ status }}</a>
        {% endfor %}
        {% endif %}
        {% endblock %}

        <span class="sidebar-header">{% trans %}Services{% endtrans %}</span>
        <a href="{% url services_service_catalogue %}" class="sidebar-link {% block class_service_catalogue %}{% endblock %}">{% trans %}Service Catalogue{% endtrans %}</a>
        <a href="{% url services_sla_index %}" class="sidebar-link {% block class_sla_index %}{% endblock %}">{% trans %}SLAs{% endtrans %}</a>
        {% if request.user.get_profile().is_admin('treeio.services') %}
        <span class="sidebar-header">{% trans %}Administration{% endtrans %}</span>
        <a href="{% url services_settings_view %}" class="sidebar-link {% block class_admin_settings %}{% endblock %}">{% trans %}Settings{% endtrans %}</a>
        <a href="{% url services_agent_index %}" class="sidebar-link {% block class_agent_index %}{% endblock %}">{% trans %}Agents{% endtrans %}</a>
        {% endif %}
		</div>
        </td>
        <td class="module-content">

        <div class="module-content-fill">

            <div class="title-block">

                <div class="title">
                    {% block module_title %}{% trans %}Service Support{% endtrans %}{% endblock %}
                </div>
                <div class="subtitle-block">
                    {% block module_subtitle %}{% endblock %}
                </div>
                <div class="module-top-menu-inline">
                    {% block module_topmenu %}
                    <a href="{% url services_ticket_add %}"
                    class="top-menu add-link popup-link">{% trans %}New Ticket{% endtrans %}</a>
                    <a href="{% url core_trash %}" class="top-menu trash-link {% if trash %}trash-full-link{% endif %}">{% trans %}Trash{% endtrans %}</a>
                    {% endblock %}
                </div>
                {{ help_link() }}

            </div>
            <div id="module_content">

                <table>

                    <tr>
                        <td class="module-content-inner">
                        <!-- module_content_inner -->
                        {% block module_content %}{% endblock %}
                        <!-- /module_content_inner -->
                        </td>
                        <td class="module-sidebar-right" id="sidebar_right">
                        {% block sidebar_right %}{% endblock %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </td>
    </tr>
</table>
<div class="clear">
</div>
{% endblock %}
