{% extends "html/services/page.html" %}

{% block title %}{% trans %}Service Support{% endtrans %}{% endblock %}

{% block module_title %}{{ queue }}{% endblock %}
{% block module_subtitle %}{% trans %}Queue{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url services_ticket_add_by_queue queue.id %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}New Ticket{% endtrans %}</a>

<a href="{% url services_queue_edit queue.id %}" class="top-menu button edit-link-active"><img src="/static/modules/pencil-small.png">{% trans %}Edit{% endtrans %}</a>
<a href="{% url services_queue_delete queue.id %}" class="top-menu button delete-link"><img src="/static/modules/cross-small.png">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block service_ticket_queues %}
{% if queues %}
<span class="sidebar-header">{% trans %}Queues{% endtrans %}</span>
{% for iqueue in queues %}
<a href="{% url services_queue_view iqueue.id %}" class="sidebar-link {% if iqueue==queue %}sidebar-link-active{% endif %}">{{ iqueue }}</a>
{% endfor %}
{% endif %}
{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(queue) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(queue) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(queue) }}
</div>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save" >{% trans %}Save{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
