{% extends "html/services/page.html" %}

{% block title %}{% trans %}Service Support{% endtrans %}{% endblock %}

{% block module_title %}{{ status }}{% endblock %}
{% block module_subtitle %}{% trans %}Ticket Status{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url services_ticket_add %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}New Ticket{% endtrans %}</a>

<a href="{% url services_status_edit status.id %}" class="top-menu button edit-link-active"><img src="/static/modules/pencil-small.png">{% trans %}Edit{% endtrans %}</a>
<a href="{% url services_status_delete status.id %}" class="top-menu button delete-link"><img src="/static/modules/cross-small.png">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block service_ticket_statuses %}
{% if statuses %}
<span class="sidebar-header">{% trans %}By Status{% endtrans %}</span>
{% for istatus in statuses %}
<a href="{% url services_status_view istatus.id %}" class="sidebar-link {% if istatus == status %}sidebar-link-active{% endif %}">{{ istatus }}</a>
{% endfor %}
{% endif %}
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save" >{% trans %}Save{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
