{% load i18n %}
{% extends "html/services/page.html" %}

{% block title %}{{ ticket|htsafe }} | {% trans %}Service Support{% endtrans %}{% endblock %}

{% block module_title %}{{ ticket }}{% endblock %}
{% block module_subtitle %}{% trans %}Ticket{% endtrans %}{% endblock %}

{% block module_topmenu %}

<a href="{% url services_ticket_view ticket.id %}" class="top-menu view-link-active">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(ticket, mode='w') %}
<a href="{% url services_ticket_edit ticket.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url services_ticket_delete ticket.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
    {{ last_updated(ticket) }}
{% endif %}

{% endblock %}

{% block sidebar_right %}

{% if user.get_profile().has_permission(ticket, mode='w') %}
<span class="sidebar-header-first">{% trans %}Quick Status{% endtrans %}</span>
<div class="sidebar-block">
    {% for status in statuses %}
    {% if status.hidden %}
    {% if status.active %}
    <a href="{% url services_ticket_set_status ticket.id, status.id %}" class="services-action services-action-wontfix
    {%- if status == ticket.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% else %}
    <a href="{% url services_ticket_set_status ticket.id, status.id %}" class="services-action services-action-closed
    {%- if status == ticket.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% endif %}
    {% else %}
    {% if status.active %}
    <a href="{% url services_ticket_set_status ticket.id, status.id %}" class="services-action services-action-open
    {%- if status == ticket.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% else %}
    <a href="{% url services_ticket_set_status ticket.id, status.id %}" class="services-action services-action-pending
    {%- if status == ticket.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endif %}

<span class="sidebar-header-right">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(ticket) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(ticket) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(ticket) }}
</div>
<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  </span></span>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Reference{% endtrans %}:</span>
    <span class="content-value">{{ ticket.reference }}</span>
</div>
{% if ticket.caller %}
<div>
    <span class="content-label">{% trans %}Caller{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_contact_view ticket.caller.id %}" class="popup-link"><strong>{{ ticket.caller }}</strong></a></span>
</div>
{% endif %}
<div>
    <span class="content-label">{% trans %}Date Created{% endtrans %}:</span>
    <span class="content-value">{{ ticket.date_created|htdatetime }}</span>
</div>
<div>
    <span class="content-label">{% trans %}Urgency{% endtrans %}:</span>
    <span class="content-value">{{ ticket.urgency_human() }}</span>
</div>
<div>
    <span class="content-label">{% trans %}Priority{% endtrans %}:</span>
    <span class="content-value">{{ ticket.priority_human() }}</span>
</div>
<div>
    <span class="content-label">{% trans %}Status{% endtrans %}:</span>
    <span class="content-value"><a href="{% url services_status_view ticket.status.id %}">{{ ticket.status }}</a></span>
</div>
<div>
    <span class="content-label">{% trans %}Assigned to{% endtrans %}:</span>
    <span class="content-value">
        {% set assigned = ticket.assigned.all() %}
        {% if assigned %}
        {% for assignee in assigned %}
        <a href="{% url services_agent_view assignee.id %}" class="popup-link">{{ assignee }}</a>
        <br />
        {% endfor %}
        {% else %}
        <span class="lighter"><em>{% trans %}Nobody{% endtrans %}</em></span>
        {% endif %}
    </span>
</div>
{% if ticket.queue %}
<div>
    <span class="content-label">{% trans %}Queue{% endtrans %}:</span>
    <span class="content-value"><a href="{% url services_queue_view ticket.queue.id %}">{{ ticket.queue }}</a></span>
</div>
{% endif %}
{% if ticket.service %}
<div>
    <span class="content-label">{% trans %}Service{% endtrans %}:</span>
    <span class="content-value"><a href="{% url services_service_view ticket.service_id %}">{{ ticket.service }}</a></span>
</div>
{% endif %}
{% if ticket.sla %}
<div>
    <span class="content-label">{% trans %}Service Level Agreement{% endtrans %}:</span>
    <span class="content-value">{{ ticket.sla }}</span>
</div>
{% endif %}

<div class="spaced-v spaced-h">
  <br />
  {{ tags_box(ticket) }}
</div>

{{ attachments(ticket) }}

{# 
{% if ticket.message %}
<div>
    <span class="content-label">{% trans %}Stream{% endtrans %}:</span>
    <span class="content-value"><a href="{% url messaging_stream_view ticket.message.stream.id %}">{{ ticket.message.stream }}</a></span>
</div>
{% endif %}
#}
{% if ticket.details %}
<div>
    <span class="content-label-head">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ ticket.details|htsafe }}</span>
</div>
<br />
{% endif %}
{% if ticket.resolution %}
<div>
    <span class="content-label-head">{% trans %}Resolution{% endtrans %}:</span>
    <span class="content-details">{{ ticket.resolution|htsafe }}</span>
</div>
{% endif %}

<div>
    <span class="content-label-head">{% trans %}History{% endtrans %}:</span>
</div>
{% set updates = ticket.updates.all().order_by('date_created') %}
{% for record in updates %}
<div class="news-record news-record-type-{{ record.record_type }}">
    <div class="contact-picture-frame news-record-author news-record-author-{{ record.record_type }}">
    {% if record.author %}
      {% set contact = record.author.get_contact() %}
      {% if contact %}
        {% set picture = contact.get_picture() %}
        <a href="{% url identities_contact_view contact.id %}" class="popup-link"><img class="contact-picture left" src="{{ picture|htsafe }}" alt="" /></a>
      {% else %}
        <a href="{% url identities_user_view record.author.id %}" class="popup-link"><img class="contact-picture left" src="/static/messaging/pic.png" alt="" /></a>
      {% endif %}
    {% elif record.sender and record.sender.object_type == 'treeio.identities.models.Contact' %}
      {% set contact = record.sender.get_related_object() %}
      {% if contact %}
        {% set picture = contact.get_picture() %}
        <a href="{% url identities_contact_view contact.id %}" class="popup-link"><img class="contact-picture left" src="{{ picture|htsafe }}" alt="" /></a>
      {% endif %}
    {% endif %}
    </div>
    <div class="news-record-label">
        <span class="news-record-author news-record-author-{{ record.record_type }}">
          {% if record.author %}
          <a href="{% url identities_user_view record.author.id %}" class="popup-link">{{ record.author }}</a>
          {% elif record.sender %}
          {% set sender = record.sender.get_related_object() %}
          {% if sender %}
          <a href="{{ sender.get_absolute_url() }}" class="popup-link">{{ sender }}</a>
          {% endif %}
          {% endif %}
        </span>
        {% if record.record_type != 'manual' and record.record_type != 'share' %}
        <span class="news-record-inline news-record-body-{{ record.record_type }}">
        {{ record.get_full_message()|htsafe }}
        </span>
        {% endif %}
    </div>
    {% if record.record_type == 'manual' or record.record_type == 'share' %}
    <div class="news-record-body news-record-body-{{ record.record_type }}">
        {{ record.body|htsafe }}
    </div>
    {% endif %}
  
    <div class="news-record-details">
		<div class="div_container">
	  		<div class="comments">
				<span class="lighter small">{{ record.date_created|htdatetime }}</span>
        		&nbsp;&nbsp;
		       	{{ comments_likes(record) }}
			</div>
	  		<div class="attachments">
		       	{{ attachments(record) }}
			</div>
			<hr class="space"/>
		</div>
    </div>
</div>
{% endfor %}

{% if record_form %}
<div>
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <br />
        <ul class="content-form-fields">
            <li>
                <textarea id="id_body" rows="10" cols="40" name="body"></textarea>
            </li>
            {% if agent %}
            <li class="content-form-inline">
                <label for="id_notify">
                    {{ record_form['notify'].label }}
                </label>
                <input type="checkbox" id="id_notify" name="notify" />
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="content-form-inline content-form-full-inline">
                <label for="id_resolution">
                    {{ record_form['resolution'].label }}
                </label>
                <input type="checkbox" id="id_resolution" name="resolution" />
            </li>
            {% endif %}
        </ul>
        <div class="content-form-submit">
            <input type="submit" value="{% trans %}Update Ticket{% endtrans %}">
        </div>
    </form>
</div>
{% endif %}

{% endblock %}
