{% load i18n %}
{% extends "html/sales/page.html" %}

{% block title %}{{ lead|htsafe }} | {% trans %}Leads{% endtrans %} | {% trans %}Sales Support{% endtrans %}{% endblock %}

{% block module_title %}{{ lead }}{% endblock %}

{% block module_subtitle %}{% trans %}Lead{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url sales_lead_view lead.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url sales_lead_edit lead.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url sales_lead_delete lead.id %}" class="top-menu delete-link-active">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Lead?{% endtrans %}</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
{% if lead.assigned %}
<div>
    <span class="content-label">{% trans %}Assigned to{% endtrans %}:</span>
    <span class="content-value">
        {% for assignee in lead.assigned.all() %}
        <a href="{% url identities_user_view assignee.id %}">{{ assignee }}</a>
        <br />
        {% endfor %}
    </span>
    {% else %}
    <span class="content-value">
        {% trans %}Anyone{% endtrans %}
        <br />
    </span>
</div>
{% endif %}

{% if lead.contact %}
<div>
    <span class="content-label">{% trans %}Contact{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_contact_view lead.contact.id %}">{{ lead.contact }}</a></span>
</div>
{% endif %}

{% if lead.source %}
<div>
    <span class="content-label">{% trans %}Source{% endtrans %}:</span>
    <span class="content-value"><a href="{% url sales_source_view lead.source.id %}">{{ lead.source }}</a></span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Products Interested{% endtrans %}:</span>
    {% for product in lead.products_interested.all() %}
    <span class="content-value"><a href="{% url sales_product_view product.id %}">{{ product }}</a></span>
    {% endfor %}
</div>
<div>
    <span class="content-label">{% trans %}Contact Method{% endtrans %}:</span>
    <span class="content-value">{{ lead.contact_method }}</span>
</div>
<div>
    <span class="content-label">{% trans %}Status{% endtrans %}:</span>
    <span class="content-value"><a href="{% url sales_status_view lead.status.id %}">{{ lead.status }}</a></span>
</div>
{% if lead.details %}
<div>
    <span class="content-label">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ lead.details|htsafe }}</span>
</div>
{% endif %}

<br />

{% endblock %}