{% load i18n %}
{% extends "html/sales/page.html" %}

{% block title %}{% trans %}Sales{% endtrans %}{% endblock %}

{% block module_title %}{% trans %}Leads{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url sales_lead_add %}" class="top-menu add-link-active">{% trans %}New Lead{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <input type="submit" name="save" value="{% trans %}Create Lead{% endtrans %}" />
		<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
    </div>
</form>
{% endblock %}
