{% load i18n %}
{% extends "html/sales/page.html" %}

{% block title %}{% trans %}Opportunity{% endtrans %} | {% trans %}Sales{% endtrans %}{% endblock %}

{% block module_title %}{{ opportunity }}{% endblock %}

{% block module_subtitle %}{% trans %}Opportunity{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url sales_opportunity_view opportunity.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url sales_opportunity_edit opportunity.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url sales_opportunity_delete opportunity.id %}" class="top-menu delete-link-active">{% trans %}Delete{% endtrans %}</a>
<a href="{% url sales_order_add_with_opportunity opportunity.id %}" class="top-menu add-link">{% trans %}Convert To Order{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Order Opportunity?{% endtrans %}</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
{% endblock %}
