{% extends "html/sales/page.html" %}

{% block title %}{% trans %}Opportunity{% endtrans %} | {% trans %}Sales{% endtrans %}{% endblock %}

{% block module_title %}{{ opportunity }}{% endblock %}

{% block module_subtitle %}{% trans %}Opportunity{% endtrans %}{% endblock %}

{% block module_topmenu %}

<a href="{% url sales_opportunity_edit opportunity.id %}" class="top-menu button edit-link-active"><img src="/static/modules/pencil-small.png">{% trans %}Edit{% endtrans %}</a>
<a href="{% url sales_opportunity_delete opportunity.id %}" class="top-menu button delete-link"><img src="/static/modules/cross-small.png">{% trans %}Delete{% endtrans %}</a>
<a href="{% url sales_order_add_with_opportunity opportunity.id %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}Convert To Order{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ htform(form).as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save" >{% trans %}Save{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
