{% load i18n %}
{% extends "html/sales/page.html" %}

{% block title %}{% trans %}Ordered Product{% endtrans %} | {% trans %}Sales{% endtrans %}{% endblock %}

{% block class_index %}sidebar-link-active{% endblock %}

{% block module_title %}{{ ordered_product }}{% endblock %}

{% block module_subtitle %}{% trans %}Ordered Product{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url sales_ordered_product_view ordered_product.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url sales_ordered_product_edit ordered_product.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url sales_ordered_product_delete ordered_product.id %}" class="top-menu delete-link-active">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Ordered Product?{% endtrans %}</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
<div>
    <span class="content-label">{% trans %}Order{% endtrans %}:</span>
    <span class="content-value"><a href="{% url sales_order_view ordered_product.order.id %}"></a>{{ ordered_product.order }}</a></span>
</div>
{% if ordered_product.subscription %}
<div>
    <span class="content-label">{% trans %}Subscription{% endtrans %}:</span>
    <span class="content-value"><a href="{% url sales_subscription_view ordered_product.subscription.id %}">{% trans %}View{% endtrans %}</a></span>
    <span class="content-value">{% trans %}Active{% endtrans %}:{% if ordered_product.subscription.active %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Product{% endtrans %}:</span>
    <span class="content-value"><a href="{% url sales_product_view ordered_product.product.id %}">{{ ordered_product.product }}</a></span>
</div>
<div>
    <span class="content-label">{% trans %}Quantity{% endtrans %}:</span>
    <span class="content-value">{{ ordered_product.quantity }}</span>
</div>
{% if ordered_product.discount %}
<div>
    <span class="content-label">{% trans %}Discount{% endtrans %}:</span>
    <span class="content-value">{{ ordered_product.discount }}</span>
</div>
{% endif %}

{% endblock %}
