{% load i18n %}
{% extends "html/sales/page.html" %}

{% block title %}{% trans %}Order{% endtrans %} {{ order }} | {% trans %}Sales{% endtrans %}{% endblock %}

{% block module_title %}{% trans %}Order{% endtrans %} {{ order }}{% endblock %}

{% block module_subtitle %}{% trans %}Sale Order{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url sales_order_view order.id %}" class="top-menu view-link-active">{% trans %}View{% endtrans %}</a>
<a href="{% url sales_order_invoice_view order.id %}" class="top-menu view-link">{% trans %}Invoice{% endtrans %}</a>
{% if request.user.get_profile().has_permission(order, mode='w') %}
<a href="{% url sales_order_edit order.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url sales_order_delete order.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
{% endif %}
    {{ last_updated(order) }}
{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(order) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(order) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(order) }}
</div>
<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  </span>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Assigned to{% endtrans %}:</span>
    {% if order.assigned.count() %}
	<span class="content-value">
        {% for assignee in order.assigned.all() %}
        <a href="{% url identities_user_view assignee.id %}" class="popup-link">{{ assignee }}</a>
        <br />
        {% endfor %}
    </span>
    {% else %}
    <span class="content-value">{% trans %}Unassigned{% endtrans %}</span>
</div>
{% endif %}

{% if order.client %}
<div>
    <span class="content-label">{% trans %}Client{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_contact_view order.client_id %}" class="popup-link">{{ order.client }}</a></span>
</div>
{% endif %}

{% if order.opportunity %}
<div>
    <span class="content-label">{% trans %}Opportunity{% endtrans %}:</span>
    <span class="content-value"><a href="{% url sales_opportunity_view order.opportunity.id %}">{{ order.opportunity }}</a></span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Date{% endtrans %}:</span>
    <span class="content-value">{{ order.datetime|htdatetime }}</span>
</div>
{% if order.quantity %}
<div>
    <span class="content-label">{% trans %}Quantity{% endtrans %}:</span>
    <span class="content-value">{{ order.quantity }}</span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Status{% endtrans %}:</span>
    <span class="content-value">{{ order.status }}</span>
</div>
{% if order.source %}
<div>
    <span class="content-label">{% trans %}Source{% endtrans %}:</span>
    <span class="content-value">{{ order.source }}</span>
</div>
{% endif %}

{% set tot = order.total %}
{% set display_tot = order.total_display %}

{% if tot != display_tot %}
<div>
    <span class="content-label">{% trans %}Total{% endtrans %} ({{currency_print(order.currency)}}):</span>
    <span class="content-value">{{ display_tot|number_format|currency_format(order.currency) }}</span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Total{% endtrans %} ({{currency_print()}}):</span>
    <span class="content-value">{{ tot|number_format|currency_format }}</span>
</div>


{% if order.details %}
<div>
    <span class="content-label-head">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ order.details|htsafe }}</span>
</div>
{% endif %}

<div class="spaced-v spaced-h">
  <br />
  {{ tags_box(order) }}
</div>

    {{ attachments(order) }}

<br />

<div>
  <span class="content-label-head">{% trans %}Ordered Products{% endtrans %}:
    <a href="{% url sales_ordered_product_add order.id %}" id="add_ordered_product" class="inline-link add-link popup-link">{% trans %}Add{% endtrans %}</a>
	</span>
  {% if ordered_products %}
  <!-- Table header -->
  <table id="finance_table">
    <thead>
        <tr>
            <th scope="col">{% trans %}Item{% endtrans %}</th>
            <th scope="col">{% trans %}Description{% endtrans %}</th>
            <th align="right" scope="col">{% trans %}Quantity{% endtrans %}</th>
            <th align="right" scope="col">{% trans %}Price{% endtrans %} ({{order.currency.code}})</th>
            <th align="right" scope="col">{% trans %}Discount (%){% endtrans %}</th>
            <th align="right" scope="col">{% trans %}Tax{% endtrans %}</th>
            <th align="right" scope="col">{% trans %}Total{% endtrans %}</th>
        </tr>
    </thead>
    <!-- Table body -->

    <tbody>
      
    {% for product in ordered_products %}
        <tr class="content-list-item-{{ loop.cycle('odd', 'even') }}">
            <td>
              <span class="content-list-item table-link" style="border: none">
              <a href="{% url sales_ordered_product_edit product.id %}" class="inline-link edit-link popup-link">{{ product }} {% if product.code %}({{ product.code }}){% endif %}</a>
              <a href="{% url sales_ordered_product_delete product.id %}" class="inline-link delete-link popup-link">&nbsp;</a>
              </span>
            </td>
            <td>{{ product.description|htsafe|striptags }}</td>
            <td align="right">{{ product.quantity }}</td>
            <td align="right">{{ product.rate|number_format }}</td>
            <td align="right">{{ product.discount }}</td>
            <td align="right">{{ product.tax }}</td>
            <td align="right"><strong>{{ product.get_total()|number_format }}</strong></td>
      
        
    </span>
            
            
        </tr>
    {% endfor %}
    
    </tbody>
  </table>


</div>
<div class="clear"></div>
<div style="float: right; padding-right: 10px; width: 200px; text-align:right;">
    <span class="content-label">{% trans %}Sub Total{% endtrans %}:</span>
    <span class="content-value"><strong>{{ order.get_subtotal_display()|number_format }}</strong></span>
</div>
<div class="clear"></div>
{% for tax in order.get_taxes().values() %}
<div style="float: right; padding-right: 10px; width: 200px; text-align:right;">
    <span class="content-label">{{ tax['name'] }} ({{ tax['rate'] }}%):</span>
    <span class="content-value"><strong>{{tax['amount']|number_format}}</strong></span>
</div>
<div class="clear"></div>
{% endfor %}
<div style="float: right; border-top: 1px solid #BBB; padding-right: 10px; width: 200px; text-align:right;">
    <span class="content-label">{% trans %}Total{% endtrans %}:</span>
    <span class="content-value"><strong>{{ order.get_total_display()|number_format|currency_format(order.currency) }}</strong></span>
</div>
<div class="clear"></div>
<div style="float: right; border-top: 1px solid #BBB; padding-right: 10px; width: 200px; text-align:right;">
    <span class="content-label">{% trans %}Payments{% endtrans %}  (-):</span>
    <span class="content-value"><strong>{{ order.get_total_paid()|number_format }}</strong></span>
</div>
<div class="clear"></div>
<div style="float: right; background: #EEE; padding-right: 10px; width: 200px; text-align:right;">
    <span class="content-label">{% trans %}Balance Due{% endtrans %}:</span>
    <span class="content-value"><strong>{{ order.balance_due()|number_format|currency_format(order.currency) }}</strong></span>
</div>
{% else %}
  <div class="content-list-item spaced-h spaced-v">
      <em>{% trans %}No Ordered Products{% endtrans %}</em>.
      <a href="{% url sales_ordered_product_add  order.id %}" class="popup-link"><strong>{% trans %}Add an Item{% endtrans %}</strong></a>
  </div>
  {% endif %}

<div class="clear"><br/ ></div>

<div>
  <span class="content-label-head">{% trans %}Payments{% endtrans %}:
    <a href="{% url finance_transaction_add_order order.id %}" id="add_payment" class="inline-link add-link popup-link">{% trans %}Add{% endtrans %}</a>
  </span>
  {% if order.payment.filter(trash=False).count() %}
  <!-- Table header -->
  <table id="finance_table">
    <thead>
        <tr>
            <th scope="col">{% trans %}Name{% endtrans %}</th>
            <th scope="col">{% trans %}Details{% endtrans %}</th>
            <th scope="col" align="right">{% trans %}Amount{% endtrans %}</th>
        </tr>
    </thead>
    <!-- Table body -->

    <tbody>
      
    {% for payment in order.payment.filter(trash=False) %}
        <tr class="content-list-item-{{ loop.cycle('odd', 'even') }}">
            <td>
              <span class="content-list-item-actions table-link">
        <a href="{% url finance_transaction_edit payment.id %}" class="inline-link edit-link popup-link">{{ payment }}</a>
        </span></td>
            <td>{{ payment.details|striptags|htsafe }}</td>
            <td align="right">{{ payment.value }}</td>
            
        
    </span>
            
            
        </tr>
    {% endfor %}
    
    </tbody>
  </table>
{% endif %}

</div>
<div class="clear"><br/><br/</div>


<div>
    <span class="content-label-head">{% trans %}History{% endtrans %}:</span>
</div>
{% set updates = order.updates.all().order_by('date_created') %}
{% for record in updates %}
<div class="news-record news-record-type-{{ record.record_type }}">
    <div class="contact-picture-frame news-record-author news-record-author-{{ record.record_type }}">
    {% if record.author %}
      {% set contact = record.author.get_contact() %}
      {% if contact %}
        {% set picture = contact.get_picture() %}
        <a href="{% url identities_contact_view contact.id %}" class="popup-link"><img class="contact-picture left" src="{{ picture|htsafe }}" alt="" /></a>
      {% else %}
        <a href="{% url identities_user_view record.author.id %}" class="popup-link"><img class="contact-picture left" src="/static/messaging/pic.png" alt="" /></a>
      {% endif %}
    {% elif record.sender and record.sender.object_type == 'treeio.identities.models.Contact' %}
      {% set contact = record.sender.get_related_object() %}
      {% if contact %}
        {% set picture = contact.get_picture() %}
        <a href="{% url identities_contact_view contact.id %}" class="popup-link"><img class="contact-picture left" src="{{ picture|htsafe }}" alt="" /></a>
      {% endif %}
    {% endif %}
    </div>
    <div class="news-record-label">
        <span class="news-record-author news-record-author-{{ record.record_type }}">
          {% if record.author %}
          <a href="{% url identities_user_view record.author.id %}" class="popup-link">{{ record.author }}</a>
          {% elif record.sender %}
          {% set sender = record.sender.get_related_object() %}
          {% if sender %}
          <a href="{{ sender.get_absolute_url() }}" class="popup-link">{{ sender }}</a>
          {% endif %}
          {% endif %}
        </span>
        {% if record.record_type != 'manual' and record.record_type != 'share' %}
        <span class="news-record-inline news-record-body-{{ record.record_type }}">
        {{ record.get_full_message()|htsafe }}
        </span>
        {% endif %}
    </div>
    {% if record.record_type == 'manual' or record.record_type == 'share' %}
    <div class="news-record-body news-record-body-{{ record.record_type }}">
        {{ record.body|htsafe }}
    </div>
    {% endif %}
  
    <div class="news-record-details">
		<div class="div_container">
	  		<div class="comments">
				<span class="lighter small">{{ record.date_created|htdatetime }}</span>
        		&nbsp;&nbsp;
		       	{{ comments_likes(record) }}
			</div>
	  		<div class="attachments">
		       	{{ attachments(record) }}
			</div>
			<hr class="space"/>
		</div>
    </div>
</div>
{% endfor %}

{% if record_form %}
<div>
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <br />
        <ul class="content-form-fields">
            <li>
                <textarea id="id_body" rows="10" cols="40" name="body"></textarea>
            </li>
            {% if agent %}
            <li class="content-form-inline">
                <label for="id_notify">
                    {{ record_form['notify'].label }}
                </label>
                <input type="checkbox" id="id_notify" name="notify" />
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="content-form-inline content-form-full-inline">
                <label for="id_resolution">
                    {{ record_form['resolution'].label }}
                </label>
                <input type="checkbox" id="id_resolution" name="resolution" />
            </li>
            {% endif %}
        </ul>
        <div class="content-form-submit">
            <input type="submit" value="{% trans %}Update Order{% endtrans %}">
        </div>
    </form>
</div>
{% endif %}

{% endblock %}
