{% load i18n %}
{% extends "html/page.html" %}

{% block title %}{% trans %}Sales{% endtrans %}{% endblock %}

{% block content %}

<table>
    <tr>
        <td class="module-sidebar">
		
	  	{{ logo_block_container() }}
		<div>
		
        {% block sales_orders %}
        <a href="{% url sales_index %}" class="sidebar-link {% block class_all %}{% endblock %}">{% trans %}All Sale Orders{% endtrans %}</a>
        <a href="{% url sales_index_assigned %}" class="sidebar-link {% block class_assigned %}{% endblock %}">{% trans %}Assigned to me{% endtrans %}</a>
        {% endblock %}

        {% block sales_leads %}
        <span class="sidebar-header">{% trans %}Leads{% endtrans %}</span>
        <a href="{% url sales_lead_index %}" class="sidebar-link {% block class_lead_index %}{% endblock %}">{% trans %}All Leads{% endtrans %}</a>
        <a href="{% url sales_lead_index_assigned %}" class="sidebar-link {% block class_lead_assigned %}{% endblock %}">{% trans %}Assigned to me{% endtrans %}</a>
        {% endblock %}

        {% block sales_opportunities %}
        <span class="sidebar-header">{% trans %}Opportunities{% endtrans %}</span>
        <a href="{% url sales_opportunity_index %}" class="sidebar-link {% block class_opportunity_index %}{% endblock %}">{% trans %}All Opportunities{% endtrans %}</a>
        <a href="{% url sales_opportunity_index_assigned %}" class="sidebar-link {% block class_opportunity_assigned %}{% endblock %}">{% trans %}Assigned to me{% endtrans %}</a>
        {% endblock %}

        {% block sales_products %}
        <span class="sidebar-header">{% trans %}Products{% endtrans %}</span>
        <a href="{% url sales_product_index %}" class="sidebar-link {% block class_product_index %}{% endblock %}">{% trans %}All Products{% endtrans %}</a>
        {% endblock %}

        {% if request.user.get_profile().is_admin('treeio.sales') %}
        <span class="sidebar-header">{% trans %}Administration{% endtrans %}</span>
        <a href="{% url sales_settings_view %}" class="sidebar-link {% block class_admin_settings %}{% endblock %}">{% trans %}Settings{% endtrans %}</a>
        {% endif %}
</div>
        </td>
        <td class="module-content">

        <div class="module-content-fill">

            <div class="title-block">

                <div class="title">
                    {% block module_title %}{% trans %}Sales{% endtrans %}{% endblock %}
                </div>
                <div class="subtitle-block">
                    {% block module_subtitle %}{% endblock %}
                </div>
                <div class="module-top-menu-inline">
                    {% block module_topmenu %}
                    <a href="{% url sales_order_add %}"
                    class="top-menu add-link popup-link">{% trans %}New Order{% endtrans %}</a>
                    <a href="{% url core_trash %}" class="top-menu trash-link {% if trash %}trash-full-link{% endif %}">{% trans %}Trash{% endtrans %}</a>
                    {% endblock %}
                </div>
                {{ help_link() }}

            </div>
            <table>

                <tr>
                    <td class="module-content-inner">
                    <!-- module_content_inner -->
                    {% block module_content %}{% endblock %}
                    <!-- /module_content_inner -->
                    </td>
                    <td class="module-sidebar-right">
                    {% block sidebar_right %}{% endblock %}
                    </td>
                </tr>
            </table>
        </div>
        </td>
    </tr>
</table>
<div class="clear">
</div>
{% endblock %}
