{% load i18n %}
{% extends "html/sales/page.html" %}

{% block title %}{{ product|htsafe }} | {% trans %}Products{% endtrans %} | {% trans %}Sales{% endtrans %}{% endblock %}

{% block module_title %}{{ product }}{% endblock %}

{% block module_subtitle %}{% trans %}Product{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url sales_product_view product.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url sales_product_edit product.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url sales_product_delete product.id %}" class="top-menu delete-link-active">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Product?{% endtrans %}</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
{% if product.parent %}
<div>
    <span class="content-label">{% trans %}Parent{% endtrans %}:</span>
    <span class="content-value"><a href="{% url sales_product_view product.parent_id %}">{{ product.parent }}</a></span>
</div>
{% endif %}

{% if product.product_type %}
<div>
    <span class="content-label">{% trans %}Product Type{% endtrans %}:</span>
    <span class="content-value">{{ product.product_type }}</span>
</div>
{% endif %}

{% if product.status %}
<div>
    <span class="content-label">{% trans %}Status{% endtrans %}:</span>
    <span class="content-value">{{ product.status }}</span>
</div>
{% endif %}

{% if subproducts %}
<br />
<div>
    <span class="content-label">{% trans %}Sub Products{% endtrans %}:</span>
</div>
{% for subproduct in subproducts %}
<div class="content-list-item content-list-item-{{ loop.cycle('odd', 'even') }}">
    <span class="content-list-item-name">
        <a href="{% url sales_product_view subproduct.id %}">{{ subproduct }}</a>
    </span>
    <span class="content-list-item-group">
        {%- if subproduct.parent %}
        <a href="{% url sales_product_view subproduct.parent_id %}" class="group-link">{{ subproduct.parent }}</a>
        {%- endif %}
    </span>
    <span class="content-list-item-actions">
        {% if user.get_profile().has_permission(product, mode='w') %}
        <a href="{% url sales_product_edit product.id %}" class="inline-link edit-link">{% trans %}Edit{% endtrans %}</a>
        {% endif %}
    </span>
</div>
{% endfor %}

{% endif %}

<br />
{% if product.details %}
<div>
    <span class="content-label">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ product.details|htsafe }}</span>
</div>
{% endif %}

{% endblock %}