{% load i18n %}
{% extends "html/projects/page.html" %}

{% block title %}{{ project|htsafe }} | {% trans %}Project Management{% endtrans %}{% endblock %}

{% block module_title %}{{ project }}{% endblock %}

{% block module_subtitle %}{% trans %}Project{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url projects_project_add_typed project.id %}" class="top-menu add-link">{% trans %}New Project{% endtrans %}</a>
<a href="{% url projects_milestone_add_typed project.id %}" class="top-menu add-link">{% trans %}New Milestone{% endtrans %}</a>
<a href="{% url projects_task_add_typed project.id %}" class="top-menu add-link">{% trans %}New Task{% endtrans %}</a>
<a href="{% url projects_gantt_view project.id %}" class="top-menu gantt-link-active">{% trans %}Gantt Chart{% endtrans %}</a>
<a href="{% url projects_project_view project.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(project, mode='w') %}
<a href="{% url projects_project_edit project.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url projects_project_delete project.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block module_content %}

{% if jdata %}    
    <script type="text/javascript">
    function callback_function(data){}; 
    
    var ganttData = {{ jdata|safe }};
    </script>

   <div class="ganttChart"></div>    
    
{% else %}
<div class="hint_box">
	<div class="hint_content">
		<img class="left" src="/static/icons/hints/chart.gif"/>
		<div class="hint_message">
		<span class="hint_title">{% trans %}A Gantt Chart needs Milestones or Tasks with both Start & End Dates{% endtrans %}.</span>
		<h3><a href="{% url projects_milestone_add_typed project.id %}" class="popup-link"><strong>{% trans %}Create a new Milestone{% endtrans %}</strong></a></h3>
		<h3><a href="{% url projects_task_add_typed project.id %}" class="popup-link"><strong>{% trans %}Create a new Task{% endtrans %}</strong></a></h3>
		</div>
	</div>
</div>
  <div class="clear"></div>

    
{% endif %}

{% endblock %}