{% load i18n %}
{% extends "html/projects/page.html" %}

{% block title %}{% trans %}Project Management{% endtrans %}{% endblock %}

{% block class_in_progress %}sidebar-link-active{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Filter by{% endtrans %}</span>
<form action="" method="get" class="content-filter-form">
    <ul class="content-filter-form-fields">
        {{ filters.as_ul()|htsafe }}
    </ul>
    <input type="submit" value="{% trans %}Submit{% endtrans %}">
</form>
<br />

<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  <a class="csv-block-link" {% if '?' in request.get_full_path() %}href="{{ request.get_full_path()|replace('.ajax','').replace('?','.csv?') }}"{% else %}href="{{ request.get_full_path()|replace('.ajax','') }}.csv"{% endif %} target="_self">CSV</a></span></span>
{% endblock %}

{% block module_content %}

{% if projects %}
<form action="" method="post">
{% csrf_token %}
    <ul class="mass-form">
        <input type="hidden" name="massform" value="massform" />
         {{ massform.as_ul()|htsafe }}
        <li>
            <input type="submit" value="{% trans %}Save{% endtrans %}" />
        </li>
    </ul>
    {% for milestone in milestones %}
    {% set render_tasks = htsort(tasks.filter(milestone=milestone, tasktimeslot__time_from__isnull=False, tasktimeslot__time_to__isnull=True)) %}
    {% if render_tasks %}
    <span class="large light content-label-head">
        <input type="checkbox" name="mass-milestone-{{ milestone.id }}" value="{{ milestone.id }}" class="group-control" />
        <a href="{% url projects_milestone_view milestone.id %}" class="projects-milestone">{{ milestone.name }}</a>
        <a href="{% url projects_project_view milestone.project_id %}" class="group-link smaller"><em>{{ milestone.project }}</em></a>
        <span class="spaced-h smaller">
            <a href="{% url projects_task_add_to_milestone milestone.id %}" id="add_task" class="inline-link add-link popup-link">{% trans %}Add{% endtrans %}</a>
        </span>
    </span>
    {{ projects_task_list(render_tasks, time_slots=time_slots, in_progress=True, by_project=True, by_milestone=True) }}
    <br />
    {% endif %}
    {% endfor %}

    {% set render_tasks = htsort(tasks.filter(milestone__isnull=True, tasktimeslot__time_from__isnull=False, tasktimeslot__time_to__isnull=True)) %}
    {% if render_tasks %}
    <span class="large light content-label-head">
        <input type="checkbox" name="mass-unclassified" value="unclassified" class="group-control" />
        <em>{% trans %}Unclassified Tasks{% endtrans %}</em>
    </span>
    {{ projects_task_list(render_tasks, time_slots=time_slots, in_progress=True) }}
    {% endif %}
	
	</form>
{% else %}
  {{ show_hint('projects') }}
{% endif %}
{% if not time_slots %}
    <div class="content-list-item lighter spaced-v spaced-h">
        <em>{% trans %}No Active Tasks{% endtrans %}</em>
    </div>
{% endif %}
{% endblock %}
