{% extends "html/projects/page.html" %}

{% block title %}{{ milestone|htsafe }} | {% trans %}Milestone{% endtrans %} | {% trans %}Project Management{% endtrans %}{% endblock %}

{% block module_title %}{{ milestone }}{% endblock %}

{% block module_subtitle %}{% trans %}Milestone{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url projects_task_add_to_milestone milestone.id %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}Task{% endtrans %}</a>

{% if user.get_profile().has_permission(milestone, mode='w') %}
<a href="{% url projects_milestone_edit milestone.id %}" class="top-menu button edit-link-active"><img src="/static/modules/pencil-small.png">{% trans %}Edit{% endtrans %}</a>
<a href="{% url projects_milestone_delete milestone.id %}" class="top-menu button delete-link"><img src="/static/modules/cross-small.png">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ htform(form).as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save" >{% trans %}Save{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}