{% load i18n %}
{% extends "html/projects/page.html" %}

{% block title %}{{ milestone|htsafe }} | {% trans %}Milestone{% endtrans %} | {% trans %}Project Management{% endtrans %}{% endblock %}

{% block module_title %}{{ milestone }}{% endblock %}

{% block module_subtitle %}{% trans %}Milestone{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url projects_task_add_to_milestone milestone.id %}" class="top-menu add-link">{% trans %}New Task{% endtrans %}</a>
<a href="{% url projects_milestone_view milestone.id %}" class="top-menu view-link-active">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(milestone, mode='w') %}
<a href="{% url projects_milestone_edit milestone.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url projects_milestone_delete milestone.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
{{ last_updated(milestone) }}
{% endif %}

{% endblock %}

{% block sidebar_right %}

{% if user.get_profile().has_permission(milestone, mode='x') %}
<span class="sidebar-header-first">{% trans %}Quick Status{% endtrans %}</span>
<div class="sidebar-block">
    {% for status in statuses %}
    {% if status.hidden %}
    {% if status.active %}
    <a href="{% url projects_milestone_set_status milestone.id, status.id %}" class="projects-action projects-action-failed
    {%- if status == milestone.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% else %}
    <a href="{% url projects_milestone_set_status milestone.id, status.id %}" class="projects-action projects-action-closed
    {%- if status == milestone.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% endif %}
    {% else %}
    {% if status.active %}
    <a href="{% url projects_milestone_set_status milestone.id, status.id %}" class="projects-action projects-action-open
    {%- if status == milestone.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% else %}
    <a href="{% url projects_milestone_set_status milestone.id, status.id %}" class="projects-action projects-action-pending
    {%- if status == milestone.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% endif %}
    {% endif %}
    {% endfor %}

</div>
{% endif %}

<span class="sidebar-header-first">{% trans %}Filter{% endtrans %}</span>
<form action="" method="get" class="content-filter-form">
    <ul class="content-filter-form-fields">
        {{ filters.as_ul()|htsafe }}
    </ul>
    <input type="submit" value="{% trans %}Submit{% endtrans %}">
</form>
<br />
<span class="sidebar-header-right">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(milestone) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(milestone) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(milestone) }}
</div>
<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  </span></span>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Project{% endtrans %}:</span>
    <span class="content-value"><a href="{% url projects_project_view milestone.project.id %}">{{ milestone.project.name }}</a></span>
</div>
{% if milestone.start_date %}
<div>
    <span class="content-label">{% trans %}Start Date{% endtrans %}:</span>
    <span class="content-value">{{ milestone.start_date|htdatetime }}</span>
</div>
{% endif %}

{% if milestone.end_date %}
<div>
    <span class="content-label">{% trans %}End Date{% endtrans %}:</span>
    <span class="content-value">{{ milestone.end_date|htdatetime }}</span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Status{% endtrans %}:</span>
    <span class="content-value">{{ milestone.status }}</span>
</div>

<div>
  <span class="content-label">{% trans %}Progress{% endtrans %}:</span>
  <span class="content-value">
    <div class="meter-wrap">
        <div class="meter-value" style="width: {{ tasks_progress }}%;">
            <div class="meter-text">
                {{ tasks_progress }}%
            </div>
        </div>
    </div>
  </span>
</div>


{% if milestone.details %}
<br />
<div>
    <span class="content-label">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ milestone.details|htsafe }}</span>
</div>
{% endif %}

{{ attachments(milestone) }}


<div>
    <span class="content-label-head">{% trans %}Tasks{% endtrans %}:
        <span class="spaced-h smaller">
            <a href="{% url projects_task_add_to_milestone milestone.id %}" id="add_task" class="inline-link add-link popup-link">{% trans %}Add{% endtrans %}</a>
        </span>
    </span>
</div>
{% if tasks %}
<form action="" method="post">
{% csrf_token %}
    <ul class="mass-form">
        <input type="hidden" name="massform" value="massform" />
        <input type="checkbox" name="mass-milestone-{{ milestone.id }}" value="{{ milestone.id }}" class="group-control" />
         {{ massform.as_ul()|htsafe }}
        <li>
            <input type="submit" value="{% trans %}Save{% endtrans %}" />
        </li>
    </ul>
    {{ projects_task_list(htsort(tasks), by_milestone=True, by_project=True) }}
</form>
{% else %}

<div class="content-list-item lighter spaced-v spaced-h">
    <em>{% trans %}No Tasks{% endtrans %}.</em>
    <a href="{% url projects_task_add_to_milestone milestone.id %}" class="popup-link"><strong>{% trans %}Create a Task{% endtrans %}</strong></a>
</div>
{% endif %}

{% endblock %}