{% extends "html/projects/page.html" %}

{% block title %}{% trans %}Milestone{% endtrans %} | {% trans %}Project Management{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url project_add %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}Subproject{% endtrans %}</a>
<a href="{% url projects_milestone_add %}" class="top-menu button add-link-active"><img src="/static/modules/plus-small.png">{% trans %}Milestone{% endtrans %}</a>
<a href="{% url projects_task_add %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}Task{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ htform(form).as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save" >{% trans %}Create Milestone{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
