{% extends "html/projects/page.html" %}

{% block title %}{{ milestone|htsafe }} | {% trans %}Milestone{% endtrans %} | {% trans %}Project Management{% endtrans %}{% endblock %}

{% block module_title %}{{ milestone }}{% endblock %}

{% block module_subtitle %}{% trans %}Milestone{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url projects_task_add_to_milestone milestone.id %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}Task{% endtrans %}</a>

{% if user.get_profile().has_permission(milestone, mode='w') %}
<a href="{% url projects_milestone_edit milestone.id %}" class="top-menu button edit-link"><img src="/static/modules/pencil-small.png">{% trans %}Edit{% endtrans %}</a>
<a href="{% url projects_milestone_delete milestone.id %}" class="top-menu button delete-link-active"><img src="/static/modules/cross-small.png">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Milestone{% endtrans %}?</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
            </li>
        </ul>
    </form>
</div>
<div>
    <span class="content-label">{% trans %}Project{% endtrans %}:</span>
    <span class="content-value"><a href="{% url projects_project_view milestone.project.id %}">{{ milestone.project.name }}</a></span>
</div>
{% if milestone.start_date %}
<div>
    <span class="content-label">{% trans %}Start Date{% endtrans %}:</span>
    <span class="content-value">{{ milestone.start_date }}</span>
</div>
{% endif %}

{% if milestone.end_date %}
<div>
    <span class="content-label">{% trans %}End Date{% endtrans %}:</span>
    <span class="content-value">{{ milestone.end_date }}</span>
</div>
{% endif %}

{% if milestone.details %}
<br />
<div>
    <span class="content-label">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ milestone.details|htsafe }}</span>
</div>
{% endif %}

{% endblock %}