{% load i18n %}
{% extends "html/projects/page.html" %}

{% block title %}{{ project|htsafe }} | {% trans %}Project Management{% endtrans %}{% endblock %}

{% block module_title %}{{ project }}{% endblock %}

{% block module_subtitle %}{% trans %}Project{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url projects_project_add_typed project.id %}" class="top-menu add-link">{% trans %}New Project{% endtrans %}</a>
<a href="{% url projects_milestone_add_typed project.id %}" class="top-menu add-link">{% trans %}New Milestone{% endtrans %}</a>
<a href="{% url projects_task_add_typed project.id %}" class="top-menu add-link">{% trans %}New Task{% endtrans %}</a>
<a href="{% url projects_gantt_view project.id %}" class="top-menu gantt-link">{% trans %}Gantt Chart{% endtrans %}</a>
<a href="{% url projects_project_view project.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(project, mode='w') %}
<a href="{% url projects_project_edit project.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url projects_project_delete project.id %}" class="top-menu delete-link-active">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Filter{% endtrans %}</span>
<div class="sidebar-block">
    Projects
</div>
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Project{% endtrans %}?</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
{% if project.client %}
<div>
    <span class="content-label">{% trans %}Client{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_contact_view project.client.id %}">{{ project.client }}</a></span>
</div>
{% endif %}

{% if project.manager %}
<div>
    <span class="content-label">{% trans %}Project manager{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_contact_view project.manager.id %}">{{ project.manager }}</a></span>
</div>
{% endif %}

{% if project.details %}
<div>
    <span class="content-label">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ project.details|htsafe }}</span>
</div>
{% endif %}

{% if subprojects %}
<br />
<div>
    <span class="content-label">{% trans %}Projects{% endtrans %}:</span>
</div>
{% for subproject in subprojects %}
<div class="content-list-item content-list-item-{{ loop.cycle('odd', 'even') }}">
    <span class="content-list-item-name">
        <a href="{% url projects_project_view subproject.id %}">{{ subproject }}</a>
    </span>
    <span class="content-list-item-group">
        {%- if subproject.parent %}
        <a href="{% url projects_project_view subproject.parent_id %}" class="group-link">{{ subproject.parent }}</a>
        {%- endif %}
    </span>
    <span class="content-list-item-actions">
        {% if user.get_profile().has_permission(project, mode='w') %}
        <a href="{% url projects_project_edit project.id %}" class="inline-link edit-link">{% trans %}Edit{% endtrans %}</a>
        {% endif %}
    </span>
</div>
{% endfor %}

{% endif %}

{% endblock %}