{% extends "html/projects/page.html" %}

{% block title %}{% trans %}Project Management{% endtrans %}{% endblock %}

{% block module_title %}{{ status }}{% endblock %}
{% block module_subtitle %}{% trans %}Task Status{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url projects_task_add %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}Task{% endtrans %}</a>

{% if user.get_profile().has_permission(status, mode='w') %}
<a href="{% url projects_task_status_edit status.id %}" class="top-menu button edit-link-active"><img src="/static/modules/pencil-small.png">{% trans %}Edit{% endtrans %}</a>
<a href="{% url projects_task_status_delete status.id %}" class="top-menu button delete-link"><img src="/static/modules/cross-small.png">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block project_task_statuses %}
{% if statuses %}
<span class="sidebar-header">{% trans %}By status{% endtrans %}</span>
{% for istatus in statuses %}
<a href="{% url projects_index_by_status istatus.id %}" class="sidebar-link {% if istatus == status %}sidebar-link-active{% endif %}">{{ istatus.name }}</a>
{% endfor %}
{% endif %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save" >{% trans %}Save{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
