{% load i18n %}
{% extends "html/projects/page.html" %}

{% block title %}{{ task|htsafe }} | {% trans %}Project Management{% endtrans %}{% endblock %}

{% block module_title %}{{ task.name }}{% endblock %}

{% block module_subtitle %}{% trans %}Task{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url projects_task_add_subtask task.id %}" class="top-menu add-link popup-link">{% trans %}New Sub Task{% endtrans %}</a>
<a href="{% url projects_task_view task.id %}" class="top-menu view-link-active">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(task, mode='w') %}
<a href="{% url projects_task_edit task.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url projects_task_delete task.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{{ last_updated(task) }}
{% endblock %}

{% block sidebar_right %}

{% if user.get_profile().has_permission(task, mode='x') %}
<span class="sidebar-header-first">{% trans %}Quick Status{% endtrans %}</span>
<div class="sidebar-block">
    {% for status in statuses %}
    {% if status.hidden %}
    {% if status.active %}
    <a href="{% url projects_task_set_status task.id, status.id %}" class="projects-action projects-action-failed
    {%- if status == task.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% else %}
    <a href="{% url projects_task_set_status task.id, status.id %}" class="projects-action projects-action-closed
    {%- if status == task.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% endif %}
    {% else %}
    {% if status.active %}
    <a href="{% url projects_task_set_status task.id, status.id %}" class="projects-action projects-action-open
    {%- if status == task.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% else %}
    <a href="{% url projects_task_set_status task.id, status.id %}" class="projects-action projects-action-pending
    {%- if status == task.status -%}-active{%- endif -%}">{{ status }}</a>
    <br />
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endif %}

<span class="sidebar-header-right">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(task) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(task) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(task) }}
</div>
<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  </span></span>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Project{% endtrans %}:</span>
    <span class="content-value"><a href="{% url projects_project_view task.project.id %}"><strong>{{ task.project }}</strong></a></span>
</div>
{% if task.milestone %}
<div>
    <span class="content-label">{% trans %}Milestone{% endtrans %}:</span>
    <span class="content-value"><a href="{% url projects_milestone_view task.milestone.id %}">{{ task.milestone }}</a></span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Assigned to{% endtrans %}:</span>
    <span class="content-value">
    {% set assigned = task.assigned.all() %}
    {% if assigned %}
        {% for assignee in assigned %}
        <a href="{% url identities_user_view assignee.id %}" class="popup-link">{{ assignee }}</a>
        <br />
        {% endfor %}
	{% else %}
		{% trans %}Unassigned{% endtrans %}
        <br />
	{% endif %}
    </span>
	
</div>

{% if task.caller %}
<div>
    <span class="content-label">{% trans %}Caller{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_contact_view task.caller.id %}" class="popup-link">{{ task.caller }}</a></span>
</div>
{% endif %}

{% if task.parent %}
<div>
    <span class="content-label">{% trans %}Parent{% endtrans %}:</span>
    <span class="content-value"><a href="{% url projects_task_view task.parent.id %}">{{ task.parent }}</a></span>
</div>
{% endif %}

{% if task.priority %}
<div>
    <span class="content-label">{% trans %}Priority{% endtrans %}:</span>
    <span class="content-value">    
        <div class="content-list-tick projects-task-priority-{{ task.priority }}"></div>    
        {{ task.priority_human() }}
    </span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Date created{% endtrans %}:</span>
    <span class="content-value">{{ task.date_created|htdatetime }}</span>
</div>
{% if task.start_date %}
<div>
    <span class="content-label">{% trans %}Start Date{% endtrans %}:</span>
    <span class="content-value">{{ task.start_date|htdatetime }}</span>
</div>
{% endif %}

{% if task.end_date %}
<div>
    <span class="content-label">{% trans %}End Date{% endtrans %}:</span>
    <span class="content-value">{{ task.end_date|htdatetime }}</span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Status{% endtrans %}:</span>
    <span class="content-value"><a href="{% url projects_index_by_status task.status.id %}">{{ task.status }}</a></span>
</div>
{% if task.estimated_time %}
<div>
    <span class="content-label">{% trans %}Estimated time{% endtrans %}:</span>
    <span class="content-value">{{ task.get_estimated_time() }}</span>
</div>
{% endif %}

{% if task.depends %}
<div>
    <span class="content-label">{% trans %}Depends on{% endtrans %}:</span>
    <span class="content-value"><a href="{% url projects_task_view task.depends.id %}">{{ task.depends }}</a></span>
</div>
{% endif %}

{% if task.blocked_set.all() %}
<div>
    <span class="content-label">{% trans %}Blocks{% endtrans %}:</span>
    <span class="content-value">
      {% for t in task.blocked_set.all() %}
        <a href="{% url projects_task_view t.id %}">{{ t }}</a>
      {% endfor %}
    </span>
</div>
{% endif %}

{% if task.details %}
<div>
    <span class="content-label">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ task.details|htsafe }}</span>
</div>
{% endif %}

<div class="spaced-v spaced-h">
  <br />
  {{ tags_box(task) }}
</div>

    {{ attachments(task) }}

{% if subtasks %}

<br />

<div>
    <span class="content-label-head">
        <input type="checkbox" name="mass-milestone-{{ task.milestone_id }}" value="{{ task.milestone_id }}" class="group-control" />
        {% trans %}Subtasks{% endtrans %}:
    </span>
</div>
<form action="{{ request.path }}" method="post">
{% csrf_token %}
    <ul class="mass-form">
        <input type="hidden" name="massform" value="massform" />
         {{ massform.as_ul()|htsafe }}
        <li>
            <input type="submit" value="{% trans %}Save{% endtrans %}" />
        </li>
    </ul>
    {{ projects_task_list(htsort(subtasks), by_milestone=True, by_project=True) }}
    <br />
</form>
{% endif %}

<br />
<div class="content-label-head">
    <span class="projects-task-time">{% trans %}Total Work Time{% endtrans %}:</span>
    <span class="imp heavy">{{ task.get_total_time_string() }}</span>
</div>
{% if user.get_profile().has_permission(task, mode='x') and not task.is_being_done_by(request.user.get_profile()) %}
<div class="spaced-h spaced-v">
    <form action="{% url projects_task_time_slot_start task.id %}" method="get" class="content-form content-form-inline">
        <input type="submit" name="stop" value="{% trans %}Start Work{% endtrans %}">
    </form>
    &nbsp;
    <form action="{% url projects_task_time_slot_add task.id %}" method="get" class="content-form content-form-inline">
        <input type="submit" name="add" value="{% trans %}Add Work{% endtrans %}">
    </form>
</div>
{% endif %}

{% for slot in time_slots %}
<div class="content-list-item content-list-item-{{ loop.cycle('odd', 'even') }}">
    <span class="content-list-item-name">
        <a href="{% url identities_user_view slot.user.id %}" class="popup-link">{{ slot.user }}</a>
        {% if slot.is_open() %}
        <a class="imp heavy popup-link" href="{% url projects_task_time_slot_view slot.id %}">
        {% trans %}In progress{% endtrans %}...
        <span class="projects-timeslot" diff="{{ slot.get_time_secs() }}">{{ slot.get_time_string() }}</span></a>
        {% else %}
        <a class="imp small popup-link" href="{% url projects_task_time_slot_view slot.id %}">{{ slot.get_time_string() }}</a>
        {% endif %}
        <span class="content-list-item-group">
            {% if slot.is_open() %}
            {{ slot.time_from|htdatetime('SHORT_DATETIME_FORMAT') }} - <span class="heavy">{% trans %}now{% endtrans %}</span>
            {% else %}
            {% if slot.time_from.date() == slot.time_to.date() %}
            {{ slot.time_from|htdatetime('SHORT_DATETIME_FORMAT') }} - {{ slot.time_to|httime('SHORT_TIME_FORMAT') }}
            {% else %}
            {{ slot.time_from|htdatetime('SHORT_DATETIME_FORMAT') }} - {{ slot.time_to|htdatetime('SHORT_DATETIME_FORMAT') }}
            {% endif %}
            {% endif %}
        </span>
        <span class="time-slot-details">
            {% if slot.time_to %}
            {% if slot.details %}
            <div class="spaced-v lighter">
                {{ slot.details|htsafe }}
            </div>
            {% endif %}
            {% else %}
            {% if user.get_profile().has_permission(task, mode='x') or user.get_profile().has_permission(slot, mode='w') %}
            <form action="{% url projects_task_time_slot_stop slot.id %}" method="post" class="content-form">
{% csrf_token %}
                <ul class="content-form-fields">
                    <li>
                        <label for="details">
                            {% trans %}Details{% endtrans %}:
                        </label>
                        <textarea id="details" name="details" cols="50" rows="3" class="no-editor"></textarea>
                    </li>
                </ul>
                <div class="content-form-submit-small">
                    <input type="submit" name="stop" value="Stop Work">
                </div>
            </form>
            {% endif %}
            {% endif %}
        </span>
    </span>
    <span class="content-list-item-actions">
        {% if user.get_profile().has_permission(task, mode='w') or user.get_profile().has_permission(slot, mode='w') %}
        <a href="{% url projects_task_time_slot_edit slot.id %}" class="inline-link edit-link">{% trans %}Edit{% endtrans %}</a>
        {% endif %}
    </span>
</div>
{% endfor %}
<br />

<div>
    <span class="content-label-head">{% trans %}History{% endtrans %}:</span>
</div>
{% set updates = task.updates.all().order_by('date_created') %}
{% for record in updates %}
<div class="news-record news-record-type-{{ record.record_type }}">
    {% set contact = record.author.get_contact() %}
    <div class="contact-picture-frame news-record-author news-record-author-{{ record.record_type }}">
    {% if contact %}
      {% set picture = contact.get_picture() %}
      <a href="{% url identities_user_view record.author.id %}" class="popup-link"><img class="contact-picture left" src="{{ picture|htsafe }}" alt="" /></a>
    {% else %}
      <a href="{% url identities_user_view record.author.id %}" class="popup-link"><img class="contact-picture left" src="/static/messaging/pic.png" alt="" /></a>
    {% endif %}
    </div>
    <div class="news-record-label">
        <span class="news-record-author news-record-author-{{ record.record_type }}">
        <a href="{% url identities_user_view record.author.id %}" class="popup-link">{{ record.author }}</a>
        </span>
        {% if record.record_type != 'manual' and record.record_type != 'share' %}
        <span class="news-record-inline news-record-body-{{ record.record_type }}">
        {{ record.get_full_message()|htsafe }}
        </span>
        {% endif %}
    </div>
    {% if record.record_type == 'manual' or record.record_type == 'share' %}
    <div class="news-record-body news-record-body-{{ record.record_type }}">
        {{ record.body|htsafe }}
    </div>
    {% endif %}
  
    <div class="news-record-details">
		<div class="div_container">
	  		<div class="comments">
				<span class="lighter small">{{ record.date_created|htdatetime }}</span>
        		&nbsp;&nbsp;
		       	{{ comments_likes(record) }}
			</div>
	  		<div class="attachments">
		       	{{ attachments(record) }}
			</div>
			<hr class="space"/>
		</div>
    </div>
</div>
{% endfor %}

{% if record_form %}
<div>
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <br />
        <ul class="content-form-fields">
            <li>
                <textarea id="id_body" rows="10" cols="40" name="body"></textarea>
            </li>
        </ul>
        <div class="content-form-submit">
            <input type="submit" value="{% trans %}Update Task{% endtrans %}">
        </div>
    </form>
</div>
{% endif %}

{% endblock %}
