{% load i18n %}
{% extends "html/account/page.html" %}

{% block title %}{% trans %}Settings{% endtrans %} | {% trans %}Account{% endtrans %}{% endblock %}

{% block class_settings %}sidebar-link-active{% endblock %}

{% block module_title %}{% trans %}Account{% endtrans %}{% endblock %}
{% block module_subtitle %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url account_settings_view %}" class="top-menu view-link-active">{% trans %}View{% endtrans %}</a>
<a href="{% url account_settings_edit %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Default Perspective{% endtrans %}:</span>
    <span class="content-value">
        {% if default_perspective %}
        <a href="{% url core_admin_perspective_view default_perspective.id %}">{{ default_perspective }}</a>
        {% endif %}
    </span>
</div>
<div>
    <span class="content-label">{% trans %}Language{% endtrans %}:</span>
    <span class="content-value">
        {% for code, name in all_languages %}
        {% if code == language %}{{ name }}{% endif %}
        {% endfor %}
    </span>
</div>
<div>
    <span class="content-label">{% trans %}Time Zone{% endtrans %}:</span>
    <span class="content-value">
        {% for zone, title in all_timezones %}
        {% if zone == default_timezone %}{{ title }}{% endif %}
        {% endfor %}
    </span>
</div>
<div>
    <span class="content-label">{% trans %}E-mail Notifications{% endtrans %}:</span>
    <span class="content-value">
        {% if email_notifications %}
		{% if email_notifications == 'True' %} {% trans %}As-it-happens{% endtrans %}
		{% elif email_notifications == 'd' %} {% trans %}Daily{% endtrans %}
        {% elif email_notifications == 'w' %} {% trans %}Weekly{% endtrans %}
        {% elif email_notifications == 'm' %} {% trans %}Monthly{% endtrans %}
        {% else %} {% trans %}No{% endtrans %}
		{% endif %}
        {% endif %}
    </span>
</div>
{% if notifications_for_modules %}
<div>
    <span class="content-label">{% trans %}Receive notifications for modules{% endtrans %}:</span>
    <span class="content-value">
        {% for m in notifications_for_modules %}
            <span>{{ m }}</span><br />
        {% endfor %}
    </span>
</div>
{% endif %}
{% endblock %}
