{% load i18n %}
{% extends "html/core/page.html" %}

{% block title %}{{ group|htsafe }} | {% trans %}Administration{% endtrans %}{% endblock %}

{% block module_title %}{{ group }}{% endblock %}
{% block module_subtitle %}{% trans %}Group{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url core_admin_group_view group.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url core_admin_group_edit group.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url core_admin_group_delete group.id %}" class="top-menu delete-link delete-link-active">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Group{% endtrans %}?</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <p>
                    {% trans %}WARNING: This cannot be undone. All Users assigned to this group as default will be deleted.
                    <br />
                    All Objects owned by those Users will be deleted{% endtrans %}.
                </p>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
<div>
    <span class="content-label">{% trans %}Name{% endtrans %}:</span>
    <span class="content-value"><strong>{{ group }}</strong></span>
</div>
<div>
    <span class="content-label">{% trans %}Path{% endtrans %}:</span>
    <span class="content-value">{{ object_tree_path(group) }}</span>
</div>
<br />

{% endblock %}
