{% load i18n %}
{% extends "html/core/page.html" %}

{% block title %}{{ group|htsafe }} | {% trans %}Administration{% endtrans %}{% endblock %}

{% block module_title %}{{ group }}{% endblock %}
{% block module_subtitle %}{% trans %}Group{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url core_admin_group_view group.id %}" class="top-menu view-link view-link-active">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().is_admin() %}
<a href="{% url core_admin_group_edit group.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url core_admin_group_delete group.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Name{% endtrans %}:</span>
    <span class="content-value"><strong>{{ group }}</strong></span>
</div>
<div>
    <span class="content-label">{% trans %}Path{% endtrans %}:</span>
    <span class="content-value">{{ object_tree_path(group) }}</span>
</div>
<div>
    <span class="content-label">{% trans %}Default Perspective{% endtrans %}:</span>
    <span class="content-value"><a href="{% url core_admin_perspective_view group.get_perspective().id %}">{{ group.get_perspective() }}</a></span>
</div>
<br />
<br />

{% if subgroups %}
<br />
<div>
    <span class="content-label-head large">{% trans %}Groups{% endtrans %}:</span>
</div>
{{ administration_group_list(subgroups, group) }}

{% endif %}

{% if members %}
<br />
<div>
    <span class="content-label-head large">{% trans %}Members{% endtrans %}:</span>
</div>
{{ administration_user_list(paginate(members), group) }}

{{ pager(members) }}

{% endif %}

{% endblock %}
