{% load i18n %}
{% extends "html/core/page.html" %}

{% block title %}{% trans %}Users{% endtrans %} | {% trans %}Administration{% endtrans %}{% endblock %}

{% block module_title %}{% trans %}Users{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url core_admin_user_add %}" class="top-menu add-link">{% trans %}New User{% endtrans %}</a>
<a href="{% url core_admin_user_invite %}" class="top-menu add-link">{% trans %}Invite People{% endtrans %}</a>
{% endblock %}

{% block class_users %}sidebar-link-active{% endblock %}

{% block module_content %}

{{ administration_user_list(paginate(users)) }}

{{ pager(users) }}

{% endblock %}
