{% extends "html/core/page.html" %}

{% block title %}{% trans %}Static Pages{% endtrans %} | {% trans %}Administration{% endtrans %}{% endblock %}

{% block module_title %}{% trans %}Static Pages{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url core_admin_page_add %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}New Page{% endtrans %}</a>
<a href="{% url core_admin_pagefolder_add %}" class="top-menu button add-link-active"><img src="/static/modules/plus-small.png">{% trans %}New Folder{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
<span class="sidebar-header-right">{% trans %}Download as{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="button pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="button pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self"><img src="/static/modules/pdf.png"/>PDF</a>
      </span>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit">{% trans %}Save{% endtrans %}</button>
    </div>
</form>
{% endblock %}
