{% load i18n %}
{% extends "html/core/page.html" %}

{% block title %}{% trans %}Static Pages{% endtrans %} | {% trans %}Administration{% endtrans %}{% endblock %}

{% block module_title %}{{ page }}{% endblock %}
{% block module_subtitle %}{% trans %}Page{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url core_admin_page_view page.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url core_admin_page_edit page.id %}" class="top-menu edit-link-active">{% trans %}Edit{% endtrans %}</a>
<a href="{% url core_admin_page_delete page.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
      </span>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <input type="submit" value="{% trans %}Save{% endtrans %}">
    </div>
</form>
{% endblock %}
