{% extends "html/core/page.html" %}

{% block title %}{% trans %}New Perspective{% endtrans %} | {% trans %}Administration{% endtrans %}{% endblock %}

{% block class_perspectives %}sidebar-link-active{% endblock %}

{% block module_title %}{% trans %}Perspectives{% endtrans %}{% endblock %}
{% block module_topmenu %}
<a href="{% url core_admin_perspective_add %}" class="top-menu button add-link-active"><img src="/static/modules/plus-small.png">{% trans %}New Perspective{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save">{% trans %}Create Perspective{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
