{% load i18n %}
{% extends "html/core/page.html" %}

{% block title %}{{ perspective|htsafe }} | {% trans %}Perspectives{% endtrans %} | {% trans %}Administration{% endtrans %}{% endblock %}

{% block class_perspectives %}sidebar-link-active{% endblock %}

{% block module_title %}{{ perspective }}{% endblock %}
{% block module_subtitle %}{% trans %}Perspective{% endtrans %}{% endblock %}

{% block module_topmenu %}

<a href="{% url core_admin_perspective_view perspective.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(perspective, mode='w') %}
<a href="{% url core_admin_perspective_edit perspective.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url core_admin_perspective_delete perspective.id %}" class="top-menu delete-link-active">{% trans %}Delete{% endtrans %}</a>
{% endif %}

{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(perspective) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(perspective) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(perspective) }}
</div>
{% endblock %}

{% block module_content %}
{% if message %}

{{ show_hint('perspective_delete', message) }}

{% else %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Perspective{% endtrans %}?</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
<div>
    <span class="content-label-head">{% trans %}Modules{% endtrans %}:</span>
</div>
{% set modules = perspective.modules.all() %}
{% if modules %}
{{ administration_module_list(modules) }}
{% else %}
{{ administration_module_list(all_modules) }}
{% endif %}


{% endif %}

{% endblock %}
