{% load i18n %}
{% extends "html/core/page.html" %}

{% block title %}{% trans %}New Perspective{% endtrans %} | {% trans %}Administration{% endtrans %}{% endblock %}

{% block class_perspectives %}sidebar-link-active{% endblock %}

{% block module_title %}{% trans %}Perspectives{% endtrans %}{% endblock %}
{% block module_topmenu %}
<a href="{% url core_admin_perspective_add %}" class="top-menu add-link-active">{% trans %}New Perspective{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form|htsafe }}
    </ul>
    <div class="content-form-submit">
        <input type="submit" name="save" value="{% trans %}Create Perspective{% endtrans %}">
		<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
    </div>
</form>
{% endblock %}
