{% load i18n %}
{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/print.min.css" media="print" />
    
	{# Debug 
    <link rel="stylesheet" href="/static/print.css" media="print" />
	<link rel="stylesheet" href="/static/treeio3.css" media="all" />
    <link rel="stylesheet" href="/static/js/css/jquery.gritter.css" media="all" />
    <link rel="stylesheet" href="/static/js/css/jquery-ui-1.css" media="all" />
    <link rel="stylesheet" href="/static/js/css/datepicker.css" media="all" />
    <link rel="stylesheet" href="/static/js/colorbox/colorbox.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/jquery.flexbox.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/static/js/css/jquery.ganttView.css" />
	#}
	{# Production #}
	<link rel="stylesheet" href="/static/26a.min.css" media="all" /> 	
    
    <title>{% block title %}{% endblock %}. Tree.io</title>
    <meta name="description" content="{% block meta_description %} {% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %} {% endblock %}" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/ie.css" media="all" />
    <![endif]-->
	
	{# Debug  #}
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.form.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/jquery-ui-1.10.3/ui/minified/jquery-ui.min.js"></script>
    <script src="/static/js/jquery-ui-timepicker-addon.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.gritter.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/tinymce/jscripts/tiny_mce/tiny_mce.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/tinymce/jscripts/tiny_mce/jquery.tinymce.js" type="text/javascript" charset="utf-8"></script>

	<script src="/static/js/colorbox/jquery.colorbox-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/hashchange.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/highcharts.js" type="text/javascript" charset="utf-8"></script>
  	<script src="/static/js/hardtree.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.flexbox.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.ba-serializeobject.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/date.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.ganttView.js" type="text/javascript" charset="utf-8"></script> 
	<script src="/static/js/fileuploader.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/jquery.tipsy.js" type="text/javascript" charset="utf-8"></script>
	
	{# Production 
  	<script src="/static/js/jquery-stuff-and-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/tinymce/jscripts/tiny_mce/tiny_mce.js" type="text/javascript" charset="utf-8"></script>
  	<script src="/static/js/tinymce/jscripts/tiny_mce/jquery.tinymce.js" type="text/javascript" charset="utf-8"></script>
  	<script src="/static/js/colorbox/jquery.colorbox-min.js" type="text/javascript" charset="utf-8"></script>
  	<script src="/static/js/12o_super_mini.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.ba-serializeobject.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
    #} 
    {{ dajaxice_js_import() }}	
</head>

<body>
	<div id="loading-splash">
		<br /><br /><br />
		<div id="logo-block">
			<img alt="Tree.io" src="{% url core_logo_image_ie %}" class="logo" />
		</div>
		<h3>Loading...</h3>
		<img src="/static/ajax-loader-big.gif" alt="" />
	</div>
	<div id="page-container">
		<div id="page">
           
		   {{ demo_user() }}
		   
			<div id="header" class="clear">
			    <div id="loading-status"><img src="/static/ajax-loader.gif" alt="" />&nbsp;&nbsp;
			      <span id="loading-status-text">Loading...</span></div>
			</div>
			
			{% block page %}
			{% endblock %}

		<div id="toolbar_action">
			<span class="show_toolbar"><img src="/static/icons/up.gif"/></span>
		</div>
		
		<div id="toolbar">   
			<div id="search">
			  <div class="search-input">
			    <form action="{% url core_search_query %}" method="get" id="search_form">
					<input type="text" id="id_search_q" name="q" size="15" onfocus="if(this.value=='{% trans %}Search{% endtrans %}') this.value='';" onblur="if(this.value=='') this.value='{% trans %}Search{% endtrans %}';" value="{% trans %}Search{% endtrans %}" />
			        <input type="submit" id="id_search_submit" value=""/>
			    </form>
			   </div>
			</div>

			<div class="toolbar-links">
				{{ core_perspective_switch() }}
						  
        <span class="small powered-by">{% trans %}Powered by {% endtrans %}<a href="http://tree.io/" style="padding: 0;">Tree.io</a></span>
		</div>
		  <span class="hide_toolbar">
		  <img src="/static/icons/down.gif"/>
		  </span>
		</div>
			
		</div>
	</div>
</body>
</html>
