{% load i18n %}
{% extends "html/infrastructure/page.html" %}

{% block title %}{% trans %}Settings{% endtrans %} | {% trans %}Infrastructure{% endtrans %}{% endblock %}

{% block class_admin_settings %}sidebar-link-active{% endblock %}

{% block module_title %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block infrastructure_statuses_sidebar -%}
{% for istatus in statuses %}
<a href="{% url infrastructure_status_view istatus.id %}" class="sidebar-link {% if istatus == item_status %}sidebar-link-active{% endif %}">{{ istatus }}</a>
{% endfor %}
{%- endblock %}

{% block module_topmenu %}
<a href="{% url infrastructure_type_add %}" class="top-menu add-link">{% trans %}New Type{% endtrans %}</a>
<a href="{% url infrastructure_field_add %}" class="top-menu add-link">{% trans %}New Field{% endtrans %}</a>
<a href="{% url infrastructure_status_add %}" class="top-menu add-link-active">{% trans %}New Status{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <input type="submit" name="save" value="{% trans %}Create Status{% endtrans %}">
		<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
    </div>
</form>
{% endblock %}
