{% load i18n %}
{% extends "html/infrastructure/page.html" %}

{% block title %}{{ item_type|htsafe }} | {% trans %}Items{% endtrans %} | {% trans %}Infrastructure{% endtrans %}{% endblock %}

{% block module_title %}{{ item_type }}{% endblock %}
{% block module_subtitle %}{% trans %}Infrastructure Type{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url infrastructure_item_add_typed item_type.id %}" class="top-menu add-link">{% trans %}New{% endtrans %} {{ item_type }}</a>
<a href="{% url infrastructure_type_view item_type.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url infrastructure_type_edit item_type.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url infrastructure_type_delete item_type.id %}" class="top-menu delete-link-active">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Type{% endtrans %}?</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
{% endblock %}
