{% extends "html/infrastructure/page.html" %}

{% block title %}{% trans %}Settings{% endtrans %} | {% trans %}Infrastructure{% endtrans %}{% endblock %}

{% block class_admin_settings %}sidebar-link-active{% endblock %}

{% block module_title %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block infrastructure_statuses_sidebar -%}
{% for istatus in statuses %}
<a href="{% url infrastructure_status_view istatus.id %}" class="sidebar-link {% if istatus == item_status %}sidebar-link-active{% endif %}">{{ istatus }}</a>
{% endfor %}
{%- endblock %}

{% block module_topmenu %}
<a href="{% url infrastructure_type_add %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}New Type{% endtrans %}</a>
<a href="{% url infrastructure_field_add %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}New Field{% endtrans %}</a>
<a href="{% url infrastructure_status_add %}" class="top-menu button add-link-active"><img src="/static/modules/plus-small.png">{% trans %}New Status{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save">{% trans %}Create Status{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
