{% load i18n %}
{% extends "html/infrastructure/page.html" %}

{% block title %}{{ item_status|htsafe }} | {% trans %}Items{% endtrans %} | {% trans %}Infrastructure{% endtrans %}{% endblock %}

{% block module_title %}{{ item_status }}{% endblock %}
{% block module_subtitle %}{% trans %}Item Status{% endtrans %}{% endblock %}

{% block infrastructure_statuses_sidebar -%}
{% for istatus in statuses %}
<a href="{% url infrastructure_status_view istatus.id %}" class="sidebar-link {% if istatus == item_status %}sidebar-link-active{% endif %}">{{ istatus }}</a>
{% endfor %}
{%- endblock %}

{% block module_topmenu %}
<a href="{% url infrastructure_status_view item_status.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url infrastructure_status_edit item_status.id %}" class="top-menu edit-link-active">{% trans %}Edit{% endtrans %}</a>
<a href="{% url infrastructure_status_delete item_status.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <input type="submit" name="save" value="{% trans %}Save{% endtrans %}" />
		<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
    </div>
</form>
{% endblock %}
