{% load i18n %}
{% extends "html/infrastructure/page.html" %}

{% block title %}{{ location|htsafe }} | {% trans %}Infrastructure{% endtrans %}{% endblock %}

{% block module_title %}{{ location }}{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Export to{% endtrans %}
    {% if '?' in request.get_full_path() %}<a href="{{ request.get_full_path()|replace('.ajax','').replace('?','.csv?') }}"{% else %}<a href="{{ request.get_full_path()|replace('.ajax','') }}.csv"{% endif %} target="_self">CSV</a>,
    {% if '?' in request.get_full_path() %}<a href="{{ request.get_full_path()|replace('.ajax','').replace('?','.xls?') }}"{% else %}<a href="{{ request.get_full_path()|replace('.ajax','') }}.xls"{% endif %} target="_self">XLS</a></span>
{% endblock %}

{% block module_topmenu %}
<a href="{% url infrastructure_location_view location.id %}" class="top-menu view-link-active">{% trans %}View{% endtrans %}</a>
<a href="{% url infrastructure_location_edit location.id %}" class="top-menu edit-link edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url infrastructure_location_delete location.id %}" class="top-menu edit-link delete-link">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Name{% endtrans %}:</span>
    <span class="content-value"><strong>{{ location.name }}</strong></span>
</div>
{% if location.parent %}
<div>
    <span class="content-label">{% trans %}Parent{% endtrans %}:</span>
    <span class="content-value"><a href="{% url infrastructure_location_view location.parent_id %}">{{ location.parent }}</a></span>
</div>
{% endif %}

<form action="" method="post">
{% csrf_token %}
    <ul class="mass-form">
        <input type="hidden" name="massform" value="massform" />
        <input type="checkbox" name="mass-unclassified" value="unclassified" class="group-control" />
         {{ massform.as_ul()|htsafe }}
        <li>
            <input type="submit" value="{% trans %}Save{% endtrans %}" />
        </li>
    </ul>
    {{ infrastructure_item_list(paginate(items)) }}

    {{ pager(items) }}

</form>
<div class="clear">
</div>
{% endblock %}