{% load i18n %}
{% extends "html/page.html" %}

{% block title %}{% trans %}Service Records{% endtrans %} | {% trans %}Infrastructure{% endtrans %}{% endblock %}

{% block content %}

<table>
    <tr>
      <td class="module-sidebar">

      {{ logo_block_container() }} 
      <div>
        <a href="{% url infrastructure_index %}" class="sidebar-link {% block class_all %}{% endblock %}">{% trans %}All Items{% endtrans %}</a>
        <a href="{% url infrastructure_index_owned %}" class="sidebar-link {% block class_owned %}{% endblock %}">{% trans %}Owned by me{% endtrans %}</a>
        <span class="sidebar-header">{% trans %}By Type{% endtrans %}</span>
        {% block infrastructure_types_sidebar %}
        {% for itype in types %}
        <a href="{% url infrastructure_type_view itype.id %}" class="sidebar-link">{{ itype }}</a>
        {% endfor %}
        {% endblock %}

        <span class="sidebar-header">{% trans %}By Status{% endtrans %}</span>
        {% block infrastructure_statuses_sidebar %}
        {% for istatus in statuses %}
        <a href="{% url infrastructure_status_view istatus.id %}" class="sidebar-link">{{ istatus }}</a>
        {% endfor %}
        {% endblock %}

        <span class="sidebar-header">{% trans %}Servicing{% endtrans %}</span>
        <a href="{% url infrastructure_service_record_index %}" class="sidebar-link {% block class_admin_service %}{% endblock %}">{% trans %}Service Records{% endtrans %}</a>
        {% if request.user.get_profile().is_admin('treeio.infrastructure') %}
        <span class="sidebar-header">{% trans %}Administration{% endtrans %}</span>
        <a href="{% url infrastructure_settings_view %}" class="sidebar-link {% block class_admin_settings %}{% endblock %}">{% trans %}Settings{% endtrans %}</a>
        {% endif %}
        
      </div>
      </td>
      <td class="module-content">

        <div class="module-content-fill">

            <div class="title-block">

                <div class="title">
                    {% block module_title %}{% trans %}Infrastructure{% endtrans %}{% endblock %}
                </div>
                <div class="subtitle-block">
                    {% block module_subtitle %}{% endblock %}
                </div>
                <div class="module-top-menu-inline">
                    {% block module_topmenu %}
                    <a href="{% url infrastructure_item_add %}" class="top-menu add-link add-link">{% trans %}New Item{% endtrans %}</a>
                    <a href="{% url infrastructure_location_add %}" class="top-menu add-link add-link">{% trans %}New Location{% endtrans %}</a>
                    <a href="{% url core_trash %}" class="top-menu trash-link {% if trash %}trash-full-link{% endif %}">{% trans %}Trash{% endtrans %}</a>
                    {% endblock %}
                </div>
                {{ help_link() }}

            </div>
            <table>

                <tr>
                    <td class="module-content-inner">
                    <!-- module_content_inner -->
                    {% block module_content %}{% endblock %}
                    <!-- /module_content_inner -->
                    </td>
                    <td class="module-sidebar-right">
                    {% block sidebar_right %}{% endblock %}
                    </td>
                </tr>
            </table>
        </div>
        </td>
    </tr>
</table>
<div class="clear">
</div>
{% endblock %}
