{% extends "html/infrastructure/page.html" %}

{% block title %}{% trans %}Edit Service Record{% endtrans %} | {% trans %}Infrastructure{% endtrans %}{% endblock %}

{% block module_title %}{{ service_record }}{% endblock %}
{% block module_subtitle %}{% trans %}Service Record{% endtrans %}{% endblock %}

{% block module_topmenu %}

<a href="{% url infrastructure_service_record_edit service_record.id %}" class="top-menu button edit-link-active"><img src="/static/modules/pencil-small.png">{% trans %}Edit{% endtrans %}</a>
<a href="{% url infrastructure_service_record_delete service_record.id %}" class="top-menu button delete-link"><img src="/static/modules/cross-small.png">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-service_records">
        {{ htform(form).as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save" >{% trans %}Save{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
