{% load i18n %}
{% extends "html/changes/page.html" %}

{% block title %}{% trans %}Settings{% endtrans %} | {% trans %}Change Control{% endtrans %}{% endblock %}

{% block class_settings %}sidebar-link-active{% endblock %}

{% block module_title %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url changes_status_add %}" class="top-menu add-link">{% trans %}New Status{% endtrans %}</a>
<a href="{% url changes_settings_view %}" class="top-menu view-link-active">{% trans %}View{% endtrans %}</a>
<a href="{% url changes_settings_edit %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Default Change Set Status{% endtrans %}:</span>
    <span class="content-value">
        {% if default_changeset_status %}
        <a href="{% url changes_status_view default_changeset_status.id %}">{{ default_changeset_status }}</a>
        {% endif %}
    </span>
</div>
<div>
    <span class="content-label-head">{% trans %}Change Set Statuses{% endtrans %}:</span>
</div>
{% for status in settings_statuses %}
<div class="content-list-item content-list-item-{{ loop.cycle('odd', 'even') }}">
    <div class="content-list-tick">
    </div>
    <span class="content-list-item-name">
        <a href="{% url changes_status_view status.id %}">{{ status }}</a>
        <span class="content-list-item-group">
            {% if status.active %}<span class="lighter small">{% trans %}Active{% endtrans %}</span>{% endif %}
            {% if status.hidden %}<span class="lighter small">{% trans %}Hidden{% endtrans %}</span>{% endif %}
        </span>
    </span>
    <span class="content-list-item-actions">
        {% if user.get_profile().has_permission(status, mode='w') %}
        <a href="{% url changes_status_edit status.id %}" class="inline-link edit-link">{% trans %}Edit{% endtrans %}</a>
        {% endif %}
    </span>
</div>
{% endfor %}

{% endblock %}
