{% load i18n %}
{% extends "html/core/dashboard/index.html" %}

{% block title %}{{ widget.widget['title']|htsafe }}{% endblock %}

{% block module_title %}{{ widget.widget['title'] }}{% endblock %}
{% block module_subtitle %}{% trans %}Widget{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url core_dashboard_widget_edit widget.id %}" class="top-menu edit-link-active">{% trans %}Edit{% endtrans %}</a>
<a href="{% url core_trash %}" class="top-menu trash-link {% if trash %}trash-full-link{% endif %}">{% trans %}Trash{% endtrans %}</a>
<span class="global_subscriptions">
    <a title="{% trans %}Be notified about major activity across all your projects{% endtrans %}." class="margin-bottom ajax-link-out" href="{{ rss_link('/news/all.rss') }}"><img src="/static/icons/rss.png"/> <strong>{% trans %}Global RSS Feed{% endtrans %}</strong></a> &nbsp;
    <a title="{% trans %}Export events from your calendar with a popular extension of <strong>.ics</strong>{% endtrans %}." class="margin-bottom ajax-link-out" href="{% url events_all_ical %}"><img src="/static/icons/ical.png"/> <strong>{% trans %}Global iCalendar{% endtrans %}</strong></a>
</span>
{% endblock %}

{% block module_content %}
<div class="module-content-inner">

    {% set widget_block=widget.widget %}

    <div class="widget-block" style="width: {{ widget_block['size'] }}" align="left">
        <div class="widget-links">
        	<span class="content-list-item-actions">
            <a href="{% url core_dashboard_widget_edit widget.id %}" class="inline-link edit-link-active">&nbsp;</a>
            <a href="{% url core_dashboard_widget_delete widget.id %}" class="inline-link delete-link">&nbsp;</a>
			</span>
        </div>
        <div class="widget-title">
            {{ httranslate(widget_block['title']) }}
        </div>
        <div class="widget-content">
            {{ widget_block['content']|htsafe }}
        </div>
    </div>
    <div class="clear">
    </div>
    <div>
        <span class="content-label">{% trans %}Module{% endtrans %}:</span>
        <span class="content-value">{{ widget.widget['module_title'] }}</span>
    </div>
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            {{ form.as_ul()|htsafe }}
        </ul>
        <div class="content-form-submit">
            <input type="submit" value="{% trans %}Save{% endtrans %}">
        </div>
    </form>
    <div class="clear">
    </div>
</div>
{% endblock %}
