{% load i18n %}
{% for queue in queues %}
<div class="content-list-item content-list-item-{{ loop.cycle('odd', 'even') }}">
    <div class="content-list-tick">
        &nbsp;
    </div>
    <span class="content-list-item-name">
        <a href="{% url services_queue_view queue.id %}">{{ queue }}</a>
        <span class="content-list-item-group">
            &nbsp;
        </span>
    </span>
    <span class="content-list-item-actions">
        {% if user.get_profile().has_permission(queue, mode='w') %}
        <a href="{% url services_queue_edit queue.id %}" class="inline-link edit-link">{% trans %}Edit{% endtrans %}</a>
        {% endif %}
    </span>
</div>
{% endfor %}