{% extends "html/knowledge/page.html" %}

{% block title %}{% trans %}New Category{% endtrans %} | {% trans %}Knowledge base{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url knowledge_item_add %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}New Item{% endtrans %}</a>
<a href="{% url knowledge_folder_add %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}New Folder{% endtrans %}</a>
<a href="{% url knowledge_category_add %}" class="top-menu button add-link-active"><img src="/static/modules/plus-small.png">{% trans %}New Category{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<p>
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            {{ form.as_ul()|htsafe }}
        </ul>
        <div class="content-form-submit">
            <button type="submit" name="save"  class="submit" >{% trans %}Create Category{% endtrans %}</button>
			<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
        </div>
    </form>
</p>
{% endblock %}
