{% load i18n %}
{% extends "html/knowledge/page.html" %}

{% block title %}{% trans %}New folder{% endtrans %} | {% trans %}Knowledge base{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url knowledge_item_add %}" class="top-menu add-link">{% trans %}New Item{% endtrans %}</a>
<a href="{% url knowledge_folder_add %}" class="top-menu add-link-active">{% trans %}New Folder{% endtrans %}</a>
<a href="{% url knowledge_category_add %}" class="top-menu add-link">{% trans %}New Category{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<p>
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            {{ form.as_ul()|htsafe }}
        </ul>
        <div class="content-form-submit">
            <input type="submit" name="save" value="{% trans %}Create Folder{% endtrans %}" class="submit" />
			<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
        </div>
    </form>
</p>
{% endblock %}
