{% load i18n %}
{% extends "html/knowledge/page.html" %}

{% block title %}{% trans %}New Item{% endtrans %} | {% trans %}Knowledge base{% endtrans %}{% endblock %}

{% block module_title %}{{ folder.name }}{% endblock %}

{% block module_subtitle %}{% trans %}Folder{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url knowledge_item_add_folder folder.treepath %}" class="top-menu add-link-active">{% trans %}New Item{% endtrans %}</a>
<a href="{% url knowledge_folder_add_folder folder.treepath %}" class="top-menu add-link">{% trans %}New Folder{% endtrans %}</a>
<a href="{% url knowledge_folder_view folder.treepath %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(folder, mode='w') %}
<a href="{% url knowledge_folder_edit folder.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url knowledge_folder_delete folder.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block module_content %}

<p>
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            {{ form.as_ul()|htsafe }}
        </ul>
        <div class="content-form-submit">
            <input type="submit" name="save" value="{% trans %}Create Item{% endtrans %}" class="submit" />
			<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
        </div>
    </form>
</p>
{% endblock %}
