{% load i18n %}
{% extends "html/knowledge/page.html" %}

{% block title %}{{ item|htsafe }} | {% trans %}Knowledge base{% endtrans %}{% endblock %}

{% block module_title %}{{ item }}{% endblock %}

{% block module_subtitle %}{% trans %}Item{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url knowledge_item_view item.folder.treepath, item.treepath %}" class="top-menu view-link-active">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(item, mode='w') %}
<a href="{% url knowledge_item_edit item.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url knowledge_item_delete item.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{{ last_updated(item) }}
{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(item) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(item) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(item) }}
</div>
<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  </span></span>
{% endblock %}

{% block module_content %}

{% if item.name %}
<div>
    <span class="content-label">{% trans %}Name{% endtrans %}:</span>
    <span class="content-value">{{ item.name }}</span>
</div>
{% endif %}

{% if item.creator %}
<div>
    <span class="content-label">{% trans %}Created By{% endtrans %}:</span>
    <span class="content-value">
    	<a href="{% url identities_user_view item.creator_id %}" class="popup-link">{{ item.creator }}</a>
	</span>
</div>
{% endif %}

{% if item.folder %}
<div>
    <span class="content-label">{% trans %}Folder{% endtrans %}:</span>
    <span class="content-value">{{ object_tree_path(item.folder) }}</span>
</div>
{% endif %}

<div class="spaced-v spaced-h">
  <br />
  {{ tags_box(item) }}
</div>

{{ attachments(item) }}

{% if item.body %}
<div>
    <span class="content-label-head">{% trans %}Body{% endtrans %}:</span>
    <span class="content-details">{{ item.body|htsafe }}</span>
</div>
{% endif %}

<div class="spaced-v spaced-h">
  <br />
  {{ comments_likes(item) }}
</div>

{% endblock %}