{% extends "html/documents/page.html" %}

{% block title %}{% trans %}Edit{% endtrans %} | {{ document|htsafe }} | {% trans %}Documents{% endtrans %}{% endblock %}

{% block module_title %}{{ document }}{% endblock %}

{% block module_subtitle %}{% trans %}Document{% endtrans %}{% endblock %}

{% block module_topmenu %}

{% if user.get_profile().has_permission(document, mode='w') %}
<a class="top-menu button edit-link-active" href="{% url documents_document_edit document.id %}"><img src="/static/modules/pencil-small.png">{% trans %}Edit{% endtrans %}</a>
<a class="top-menu button delete-link" href="{% url documents_document_delete document.id %}"><img src="/static/modules/cross-small.png">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|safe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save">{% trans %}Save{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}