{% load i18n %}
{% extends "html/documents/page.html" %}

{% block title %}{{ document|htsafe }} | {% trans %}Documents{% endtrans %}{% endblock %}

{% block module_title %}{{ document }}{% endblock %}

{% block module_subtitle %}{% trans %}Document{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu view-link-active" href="{% url documents_document_view document.id %}">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(document, mode='w') %}
<a class="top-menu edit-link" href="{% url documents_document_edit document.id %}">{% trans %}Edit{% endtrans %}</a>
<a class="top-menu delete-link" href="{% url documents_document_delete document.id %}">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{{ last_updated(document) }}
{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(document) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(document) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(document) }}
</div>
<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  </span></span>
{% endblock %}

{% block module_content %}

{% if document.title %}
<div>
    <span class="content-label">{% trans %}Title{% endtrans %}:</span>
    <span class="content-value">{{ document }}</span>
</div>
{% endif %}

{% if document.creator %}
<div>
    <span class="content-label">{% trans %}Created By{% endtrans %}:</span>
    <span class="content-value">
    	<a href="{% url identities_user_view document.creator_id %}" class="popup-link">{{ document.creator }}</a>
	</span>
</div>
{% endif %}

{% if document.folder %}
<div>
    <span class="content-label">{% trans %}Folder{% endtrans %}:</span>
    <span class="content-value"><a href="{% url documents_folder_view document.folder.id %}">{{ document.folder }}</a></span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Date created{% endtrans %}:</span>
    <span class="content-value">{{ document.date_created.strftime("%Y %b %d, %H:%M") }}</span>
</div>

<div class="spaced-v spaced-h">
  <br />
  {{ tags_box(document) }}
</div>

{{ attachments(document) }}

{% if document.body %}
<div>
    <span class="content-label-head"></span>
    <span class="content-details">{{ document.body|htsafe }}</span>
</div>
{% endif %}

<div class="spaced-v spaced-h">
  <br />
  {{ comments_likes(document) }}
</div>

{% endblock %}