{% load i18n %}
{% extends "html/documents/page.html" %}

{% block title %}{% trans %}Edit{% endtrans %} | {{ document|htsafe }} | {% trans %}Documents{% endtrans %}{% endblock %}

{% block module_title %}{{ document }}{% endblock %}

{% block module_subtitle %}{% trans %}Document{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu view-link" href="{% url documents_document_view document.id %}">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(document, mode='w') %}
<a class="top-menu edit-link-active" href="{% url documents_document_edit document.id %}">{% trans %}Edit{% endtrans %}</a>
<a class="top-menu delete-link" href="{% url documents_document_delete document.id %}">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|safe }}
    </ul>
    <div class="content-form-submit">
        <input type="submit" name="save" value="{% trans %}Save{% endtrans %}">
		<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
    </div>
</form>
{% endblock %}