{% extends "html/documents/page.html" %}

{% block title %}{% trans %}New Document{% endtrans %} | {% trans %}Documents{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu button add-link" href="{% url documents_folder_add %}"><img src="/static/modules/plus-small.png">{% trans %}New Folder{% endtrans %}</a>
<a class="top-menu button add-link-active" href="{% url documents_document_add %}"><img src="/static/modules/plus-small.png">{% trans %}New Document{% endtrans %}</a>
<a class="top-menu button add-link" href="{% url documents_weblink_add %}"><img src="/static/modules/plus-small.png">{% trans %}New Web Link{% endtrans %}</a>
<a class="top-menu button add-link" href="{% url documents_file_upload %}"><img src="/static/modules/plus-small.png">{% trans %}Upload File{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|safe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save">{% trans %}Create Document{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
