{% extends "html/documents/page.html" %}

{% block title %}{% trans %}New Document{% endtrans %} | {% trans %}Documents{% endtrans %}{% endblock %}

{% block module_title %}{{ folder.name }}{% endblock %}

{% block module_subtitle %}{% trans %}Folder{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu button add-link" href="{% url documents_folder_add_typed folder.id %}"><img src="/static/modules/plus-small.png">{% trans %}New Folder{% endtrans %}</a>
<a class="top-menu button add-link-active" href="{% url documents_document_add_typed folder.id %}"><img src="/static/modules/plus-small.png">{% trans %}New Document{% endtrans %}</a>
<a class="top-menu button add-link" href="{% url documents_weblink_add_typed folder.id %}"><img src="/static/modules/plus-small.png">{% trans %}New Web Link{% endtrans %}</a>
<a class="top-menu button add-link" href="{% url documents_file_upload_typed folder.id %}"><img src="/static/modules/plus-small.png">{% trans %}Upload File{% endtrans %}</a>

{% if user.get_profile().has_permission(folder, mode='w') %}
<a class="top-menu button edit-link" href="{% url documents_folder_edit folder.id %}"><img src="/static/modules/pencil-small.png">{% trans %}Edit{% endtrans %}</a>
<a class="top-menu button delete-link" href="{% url documents_folder_delete folder.id %}"><img src="/static/modules/cross-small.png">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|safe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save">{% trans %}Create Document{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
