{% load i18n %}
{% extends "html/documents/page.html" %}

{% block title %}{% trans %}New Folder{% endtrans %} | {% trans %}Documents{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu add-link-active" href="{% url documents_folder_add %}">{% trans %}New Folder{% endtrans %}</a>
<a class="top-menu add-link" href="{% url documents_document_add %}">{% trans %}New Document{% endtrans %}</a>
<a class="top-menu add-link" href="{% url documents_weblink_add %}">{% trans %}New Web Link{% endtrans %}</a>
<a class="top-menu add-link" href="{% url documents_file_upload %}">{% trans %}Upload File{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|safe }}
    </ul>
    <div class="content-form-submit">
        <input type="submit" name="save" value="{% trans %}Create Folder{% endtrans %}" />
		<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
    </div>
</form>
{% endblock %}
