{% load i18n %}
{% extends "html/documents/page.html" %}

{% block title %}{{ link|htsafe }} | {% trans %}Documents{% endtrans %}{% endblock %}

{% block module_title %}{{ link }}{% endblock %}

{% block module_subtitle %}{% trans %}Web Link{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu view-link" href="{% url documents_weblink_view link.id %}">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(link, mode='w') %}
<a class="top-menu edit-link" href="{% url documents_weblink_edit link.id %}">{% trans %}Edit{% endtrans %}</a>
<a class="top-menu delete-link-active" href="{% url documents_weblink_delete link.id %}">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Web Link{% endtrans %}?</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
{% if link.title %}
<div>
    <span class="content-label">{% trans %}Title{% endtrans %}:</span>
    <span class="content-value">{{ link }}</span>
</div>
{% endif %}

{% if link.folder %}
<div>
    <span class="content-label">{% trans %}Folder{% endtrans %}:</span>
    <span class="content-value"><a href="{% url documents_folder_view link.folder.id %}">{{ link.folder }}</a></span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Date created{% endtrans %}:</span>
    <span class="content-value">{{ link.date_created.strftime("%Y %b %d, %H:%M") }}</span>
</div>
<div>
    <span class="content-label">{% trans %}Last updated{% endtrans %}:</span>
    <span class="content-value">{{ link.last_updated.strftime("%Y %b %d, %H:%M") }}</span>
</div>
{% if link.url %}
<div>
    <span class="content-label">{% trans %}URL{% endtrans %}:</span>
    <span class="content-value"><a href="{{ link.url|htsafe }}" class="ajax-link-out">{{ link.url }}</a></span>
</div>
{% endif %}

{% endblock %}