{% load i18n %}
<script>
    var treeio_attachment_text = {
        attach: '<img class="margin-bottom" alt="Tags" src="/static/icons/attach.gif" /> {% trans %}Attach a file{% endtrans %}',
        drop: '{% trans %}Drop files here to upload{% endtrans %}',
        cancel: '{% trans %}Cancel{% endtrans %}',
        failed: '{% trans %}Failed{% endtrans %}'
    };
</script>

<div class="attachment-uploader" object="{{ object.id }}" action="{% url ajax_upload object.id %}" csrf="{{ csrf_token }}">
    <noscript>
        <p>Please enable JavaScript to use file uploader.</p>
        <!-- or put a simple form for upload here -->
    </noscript>
</div>

<div class="attachment-block" object="{{ object.id }}">
    {% for attachment in attachments %}
        {% if attachment.uploaded_by == request.user.get_profile() %}<a class="delete-attachment ajax-link-out" attachment="{{ attachment.id }}" title="{% trans %}Delete{% endtrans %}"><img class="margin-bottom" src="/static/icons/delete.png"/></a>{% endif %}
        <a class="attachment ajax-link-out" target="about:blank" href="{% url core_attachment_download attachment.id %}">
            <img class="margin-bottom" src="/static/icons/documents/{{ attachment.get_icon() }}.png"/>
            {{ attachment }}
        </a><span class="smaller quiet">{% trans %}added by{% endtrans %} <a class="popup-link" href="{% url identities_contact_view attachment.uploaded_by.get_contact().id %}">{{ attachment.uploaded_by }}</a>, {{ attachment.created|humanize_datetime }}</span>
		{% if not loop.last %}<br />{% endif %}

    {% endfor %}
</div>
