{% load i18n %}
{% for item in objects %}
<div class="content-list-item content-list-item-{{ loop.cycle('odd', 'even') }}">
    <div class="content-list-tick"></div>
    <span class="content-list-item-name">
        {% set url = item.get_absolute_url() %}
        {% if url %}
        <a href="{{ url }}" class="popup-link">{{ item }}</a>
        {% else %}
        {{ item }}
        {% endif %}
        <span class="smaller">
	    {% for tag in item.tags.all() %}
	      <a href="{% url core_search_query %}?q=tags:{{ tag }}" class="tags-tag">{{ tag }}</a>{% if not loop.last %}&nbsp;{% endif %}
	    {% endfor %}
	    </span>
        {% if not skip_group %}
        <span class="content-list-item-group">
            {{ item.get_human_type() }}
        </span>
        {% endif %}
    </span>
    <span class="content-list-item-actions">
        {% if user.get_profile().has_permission(item, mode='w') %}
        <a href="{{ item.get_absolute_url().replace('view', 'edit') }}" class="inline-link edit-link">{% trans %}Edit{% endtrans %}</a>
        {% endif %}
    </span>
</div>
{% endfor %}
