{% load i18n %}
{% extends "html/finance/page.html" %}

{% block title %}{% trans %}Finance{% endtrans %}{% endblock %}

{% block module_title %}{{ account }}{% endblock %}
{% block module_subtitle %}{% trans %}Bank Account{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu view-link" href="{% url finance_account_view account.id %}">{% trans %}View{% endtrans %}</a>
<a class="top-menu edit-link" href="{% url finance_account_edit account.id %}">{% trans %}Edit{% endtrans %}</a>
<a class="top-menu delete-link-active" href="{% url finance_account_delete account.id %}">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Account{% endtrans %}?</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
<div>
    <span class="content-label">{% trans %}Owner{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_contact_view account.owner_id %}">{{ account.owner }}</a></span>
</div>
<div>
    <span class="content-label">{% trans %}Balance{% endtrans %}:</span>
    <span class="content-value">{{ account.balance }}</span>
</div>
{% if account.details %}
<div>
    <span class="content-label">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ account.details|htsafe }}</span>
</div>
{% endif %}

{% endblock %}