{% load i18n %}
{% extends "html/finance/page.html" %}

{% block title %}{% trans %}Delete{% endtrans %} | {{ asset|htsafe }} | {% trans %}Finance{% endtrans %}{% endblock %}

{% block module_title %}{{ asset }}{% endblock %}
{% block module_subtitle %}{% trans %}Asset{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url finance_asset_view asset.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url finance_asset_edit asset.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url finance_asset_delete asset.id %}" class="top-menu delete-link-active">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Asset{% endtrans %}?</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
<span class="content-label">{% trans %}Asset Type{% endtrans %}:</span>
<span class="content-value">
    {{ asset.asset_type|title() }}
</span>
<div>
    <span class="content-label">{% trans %}Inital Value{% endtrans %}:</span>
    <span class="content-value">{{ asset.initial_value }}</span>
</div>
{% if asset.lifetime %}
<div>
    <span class="content-label">{% trans %}Lifetime{% endtrans %}:</span>
    <span class="content-value">{{ asset.lifetime }}</span>
</div>
{% endif %}

{% if asset.endlife_value %}
<div>
    <span class="content-label">{% trans %}End of Life Value{% endtrans %}:</span>
    <span class="content-value">{{ asset.endlife_value }}</span>
</div>
{% endif %}

{% if asset.depreciation_type %}
<div>
    <span class="content-label">{% trans %}Depreciation Type{% endtrans %}:</span>
    <span class="content-value">{{ asset.depreciation_type|title() }}</span>
</div>
{% endif %}

{% if asset.depreciation_rate %}
<div>
    <span class="content-label">{% trans %}Depreciation Rate{% endtrans %}:</span>
    <span class="content-value">{{ asset.depreciation_rate }}</span>
</div>
{% endif %}

{% if asset.purchase_date %}
<div>
    <span class="content-label">{% trans %}Purchase Date{% endtrans %}:</span>
    <span class="content-value">{{ asset.purchase_date|htdate }}</span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Current Value{% endtrans %}:</span>
    <span class="content-value">{{ asset.current_value }}</span>
</div>
<div>
    <span class="content-label">{% trans %}Owner{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_contact_view asset.owner.id %}">{{ asset.owner }}</a></span>
</div>
{% if asset.details %}
<div>
    <span class="content-label">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ asset.details|htsafe }}</span>
</div>
{% endif %}

{% endblock %}
