{% extends "html/finance/page.html" %}

{% block title %}{% trans %}New Category{% endtrans %} | {% trans %}Finance{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url finance_category_add %}" class="top-menu button add-link-active"><img src="/static/modules/plus-small.png">{% trans %}New Category{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save" >{% trans %}Create Category{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
