{% load i18n %}
{% extends "html/finance/page.html" %}

{% block title %}{% trans %}Receivables{% endtrans %} | {% trans %}Finance{% endtrans %}{% endblock %}

{% block module_title %}{% trans %}Receivables{% endtrans %}{% endblock %}

{% block class_receivables %}sidebar-link-active{% endblock %}

{% block module_topmenu %}
<a href="{% url finance_receivable_add %}" class="top-menu add-link" >{% trans %}New Receivable{% endtrans %}</a>
<a href="{% url core_trash %}" class="top-menu trash-link {% if trash %}trash-full-link{% endif %}">{% trans %}Trash{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Filter by{% endtrans %}</span>
<form action="" method="get" class="content-filter-form">
    <ul class="content-filter-form-fields">
        {{ filters.as_ul()|htsafe }}
    </ul>
    <input type="submit" value="{% trans %}Submit{% endtrans %}">
</form>
<br />

<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  <a class="csv-block-link" {% if '?' in request.get_full_path() %}href="{{ request.get_full_path()|replace('.ajax','').replace('?','.csv?') }}"{% else %}href="{{ request.get_full_path()|replace('.ajax','') }}.csv"{% endif %} target="_self">CSV</a></span></span>
{% endblock %}

{% block module_content %}
{% if liabilities %}

<form action="" method="post">
{% csrf_token %}
    <div class="content-label-head">
        <ul class="mass-form">
            <input type="checkbox" name="mass-liabilities" class="group-control" {% if not liabilities %}disabled="true"{% endif %} />
            <input type="hidden" name="massform" value="massform" />
             {{ massform.as_ul()|htsafe }}
            <li>
                <input type="submit" value="{% trans %}Save{% endtrans %}" />
            </li>
        </ul>
    </div>
    {{ finance_liability_list(paginate(htsort(liabilities))) }}

    {{ pager(htsort(liabilities)) }}

</form>
{% else %}
{{ show_hint('finance_receivables') }}
{% endif %}
{% endblock %}