{% load i18n %}
{% extends "html/finance/page.html" %}

{% block title %}{% trans %}Edit{% endtrans %} | {{ liability|htsafe }} | {% trans %}Receivable{% endtrans %} | {% trans %}Finance{% endtrans %}{% endblock %}

{% block module_title %}{{ liability.name }}{% endblock %}
{% block module_subtitle %}{% trans %}Receivable{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu view-link" href="{% url finance_receivable_view liability.id %}">{% trans %}View{% endtrans %}</a>
<a class="top-menu edit-link-active" href="{% url finance_receivable_edit liability.id %}">{% trans %}Edit{% endtrans %}</a>
<a class="top-menu delete-link" href="{% url finance_receivable_delete liability.id %}">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(liability) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(liability) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(liability) }}
</div>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ htform(form).as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <input type="submit" name="save" value="{% trans %}Submit{% endtrans %}" class="submit" />
		<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
    </div>
</form>
{% endblock %}