{% load i18n %}
{% extends "html/finance/page.html" %}

{% block title %}{% trans %}Delete{% endtrans %} | {{ liability|htsafe }} | {% trans %}Receivable{% endtrans %} | {% trans %}Finance{% endtrans %}{% endblock %}

{% block module_title %}{{ liability }}{% endblock %}
{% block module_subtitle %}{% trans %}Receivable{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url finance_receivable_view liability.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url finance_receivable_edit liability.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url finance_receivable_delete liability.id %}" class="top-menu delete-link-active">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Receivable{% endtrans %}?</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>
{% if liability.category %}
<div>
    <span class="content-label">{% trans %}Category{% endtrans %}:</span>
    <span class="content-value">
        {{ liability.category|title() }}
    </span>
</div>
{% endif %}
<div>
    <span class="content-label">{% trans %}Source{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_contact_view liability.source.id %}">{{ liability.source }}</a></span>
</div>
<div>
    <span class="content-label">{% trans %}Target{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_contact_view liability.target.id %}">{{ liability.target }}</a></span>
</div>
<div>
    <span class="content-label">{% trans %}Bank Account{% endtrans %}:</span>
    <span class="content-value"><a href = "{% url finance_account_view liability.account_id %}">{{ liability.account }}</a></span>
</div>
{% if liability.due_date %}
<div>
    <span class="content-label">{% trans %}Due Date{% endtrans %}:</span>
    <span class="content-value">{{ liability.due_date }}</span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}Value{% endtrans %}:</span>
    <span class="content-value">{{ liability.value }}</span>
</div>
{% if liability.details %}
<div>
    <span class="content-label">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ liability.details|htsafe }}</span>
</div>
{% endif %}

{% endblock %}