{% load i18n %}
{% extends "html/finance/page.html" %}

{% block title %}{% trans %}Edit Tax{% endtrans %} | {% trans %}Settings{% endtrans %} | {% trans %}Finance{% endtrans %}{% endblock %}

{% block module_title %}{{ tax.name }}{% endblock %}
{% block module_subtitle %}{% trans %}Tax{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu view-link" href="{% url finance_tax_view tax.id %}">{% trans %}View{% endtrans %}</a>
<a class="top-menu edit-link-active" href="{% url finance_tax_edit tax.id %}">{% trans %}Edit{% endtrans %}</a>
<a class="top-menu delete-link" href="{% url finance_tax_delete tax.id %}">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <input type="submit" name="save" value="{% trans %}Save Tax{% endtrans %}" />
		<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
    </div>
</form>
{% endblock %}
