{% load i18n %}
{% extends "html/finance/page.html" %}

{% block title %}{{ tax|htsafe }} | {% trans %}Tax{% endtrans %} | {% trans %}Finance{% endtrans %}{% endblock %}

{% block module_title %}{{ tax.name }}{% endblock %}
{% block module_subtitle %}{% trans %}Tax{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu view-link-active" href="{% url finance_tax_view tax.id %}">{% trans %}View{% endtrans %}</a>
<a class="top-menu edit-link" href="{% url finance_tax_edit tax.id %}">{% trans %}Edit{% endtrans %}</a>
<a class="top-menu delete-link" href="{% url finance_tax_delete tax.id %}">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(tax) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(tax) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(tax) }}
</div>
<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  </span></span>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Name{% endtrans %}:</span>
    <span class="content-value">{{tax.name}}</span>
</div>
<div>
    <span class="content-label">{% trans %}Rate{% endtrans %}:</span>
    <span class="content-value">{{tax.rate}}</span>
</div>
{% if tax.compound %}
<div>
    <span class="content-label">{% trans %}Compound Tax{% endtrans %}:</span>
</div>
{% endif %}
{% endblock %}
