{% load i18n %}
{% extends "html/finance/page.html" %}

{% block title %}{% trans %}Add Tax{% endtrans %} | {% trans %}Settings{% endtrans %} | {% trans %}Finance{% endtrans %}{% endblock %}

{% block module_title %}Settings{% endblock %}

{% block module_topmenu %}
<a href="{% url finance_tax_add %}" class="top-menu add-link-active">{% trans %}New Tax{% endtrans %}</a>
<a href="{% url finance_settings_view %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url finance_settings_edit %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ form.as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <input type="submit" name="save" value="{% trans %}Create Tax{% endtrans %}" />
		<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
    </div>
</form>
{% endblock %}
