{% load i18n %}
{% extends "html/finance/page.html" %}

{% block title %}{% trans %}Delete{% endtrans %} | {{ tax|htsafe }} | {% trans %}Tax{% endtrans %} | {% trans %}Finance{% endtrans %}{% endblock %}

{% block module_title %}{{ tax.name }}{% endblock %}
{% block module_subtitle %}{% trans %}Tax{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url finance_tax_view tax.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
<a href="{% url finance_tax_edit tax.id %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
<a href="{% url finance_tax_delete tax.id %}" class="top-menu delete-link-active">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div class="delete-object">
    <span class="larger">{% trans %}Delete this Tax{% endtrans %}?</span>
    <br />
    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
            <li>
                <label for="trash">
                    <input id="trash" type="checkbox" name="trash" checked="checked" />
                    {% trans %}Move to Trash{% endtrans %}
                </label>
            </li>
            <li>
                <input type="submit" name="delete" value="{% trans %}Yes, Delete{% endtrans %}" />&nbsp;&nbsp;
                <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
            </li>
        </ul>
    </form>
</div>

<div>
    <span class="content-label">{% trans %}Name{% endtrans %}:</span>
    <span class="content-value">{{tax.name}}</span>
</div>
<div>
    <span class="content-label">{% trans %}Rate{% endtrans %}:</span>
    <span class="content-value">{{tax.rate}}</span>
</div>
{% if tax.compound %}
<div>
    <span class="content-label">{% trans %}Compound Tax{% endtrans %}:</span>
</div>
{% endif %}
{% endblock %}
