{% load i18n %}
{% extends "html/messaging/page.html" %}

{% block title %}{% trans %}Inbox{% endtrans %} | {% trans %}Messaging{% endtrans %}{% endblock %}

{% block index_inbox %}sidebar-link-active{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Filter by{% endtrans %}</span>
<form action="" method="get" class="content-filter-form">
    <ul class="content-filter-form-fields">
        {{ filters.as_ul()|htsafe }}
    </ul>
    <input type="submit" value="{% trans %}Submit{% endtrans %}">
</form>
<br />

<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  <a class="csv-block-link" {% if '?' in request.get_full_path() %}href="{{ request.get_full_path()|replace('.ajax','').replace('?','.csv?') }}"{% else %}href="{{ request.get_full_path()|replace('.ajax','') }}.csv"{% endif %} target="_self">CSV</a></span></span>
{% endblock %}

{% block module_content %}

{% if messages %}

<form action="" method="post">
{% csrf_token %}
    <ul class="mass-form">
        <input type="hidden" name="massform" value="massform" />
        <input type="checkbox" name="mass-unclassified" value="unclassified" class="group-control" />
        {{ massform.as_ul()|htsafe }}
        <li>
            <input type="submit" value="{% trans %}Save{% endtrans %}" />
        </li>
    </ul>
    {{ messaging_message_list(paginate(messages)) }}

    {{ pager(messages) }}
</form>
{% else %}
<div class="content-list-item spaced-v spaced-h lighter">
    <em>{% trans %}No Messages{% endtrans %}</em>.
</div>
{% endif %}

{% endblock %}
