{% load i18n %}
{% extends "html/messaging/page.html" %}

{% block title %}{% trans %}Settings{% endtrans %} | {% trans %}Messaging{% endtrans %}{% endblock %}

{% block class_admin_settings %}sidebar-link-active{% endblock %}

{% block module_title %}{% trans %}Messaging{% endtrans %}{% endblock %}
{% block module_subtitle %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url messaging_settings_view %}" class="top-menu view-link-active">{% trans %}View{% endtrans %}</a>
<a href="{% url messaging_settings_edit %}" class="top-menu edit-link">{% trans %}Edit{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Default Contact Type{% endtrans %}:</span>
    <span class="content-value">
        {% if default_contact_type %}
        <a href="{% url identities_index_by_type default_contact_type.id %}">{{ default_contact_type }}</a>
        {% endif %}
    </span>
</div>
<div>
    <span class="content-label">{% trans %}Default IMAP Folder{% endtrans %}:</span>
    <span class="content-value">
        {% if default_imap_folder %}
        {{ default_imap_folder }}
        {% endif %}
    </span>
</div>
<br />
<div>
    <span class="content-label">{% trans %}Signature{% endtrans %}:</span>
    <span class="content-details">
        {% if signature %}
        {{ signature|safe }}
        {% else %}
        <span class="lighter small"><em>{% trans %}Not used{% endtrans %}</em></span>
        {% endif %}
    </span>
</div>



{% endblock %}
