{% load i18n %}
{% extends "html/messaging/page.html" %}

{% block title %}{{ stream|htsafe }} | {% trans %}Messaging{% endtrans %}{% endblock %}

{% block module_title %}{{ stream }}{% endblock %}
{% block module_subtitle %}{% trans %}Stream{% endtrans %}{% endblock %}

{% block sidebar_right %}

<span class="sidebar-header-first">{% trans %}Filter by{% endtrans %}</span>
<span class="sidebar-header-first">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(stream) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(stream) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(stream) }}
</div>
{% endblock %}

{% block module_topmenu %}
<a href="{% url messaging_stream_view stream.id %}" class="top-menu view-link">{% trans %}View{% endtrans %}</a>
{% if stream.incoming_server_name %}
<a href="{% url messaging_stream_checkmail stream.id %}" class="top-menu view-link">{% trans %}Check Mail{% endtrans %}</a>
{% endif %}
{% if user.get_profile().has_permission(stream, mode='w') %}
<a href="{% url messaging_stream_edit stream.id %}" class="top-menu edit-link-active">{% trans %}Edit{% endtrans %}</a>
<a href="{% url messaging_stream_delete stream.id %}" class="top-menu delete-link">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
    	<li><label class="required" for="id_name">{% trans %}Stream Title{% endtrans %}: *</label>{{ form.name|htsafe }}</li>
        
		<hr class="space" />
		{{ show_hint('messaging_stream', form) }}			
						
    </ul>
    <div class="content-form-submit">
        <input type="submit" name="save" value="{% trans %}Save{% endtrans %}" />
		<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
    </div>
</form>
{% endblock %}
