{% load i18n %}
{% extends "html/messaging/page.html" %}

{% block title %}{% trans %}Stream{% endtrans %} | {% trans %}Messaging{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url messaging_message_compose %}" class="top-menu add-link">{% trans %}New Message{% endtrans %}</a>
<a href="{% url messaging_stream_add %}" class="top-menu add-link-active">{% trans %}New Stream{% endtrans %}</a>
{% endblock %}

{% block module_content %}


    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
        	<li><label class="required" for="id_name">{% trans %}Stream Title{% endtrans %}: *</label>{{ form.name|htsafe }}</li>
			<hr class="space" />
			{{ show_hint('messaging_stream', form) }}	
        </ul>
		
        <div class="content-form-submit">
            <input type="submit" name="save" value="{% trans %}Create Stream{% endtrans %}" class="submit" />
			<input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="cancel" />
        </div>
    </form>

{% endblock %}
