{% extends "html/messaging/page.html" %}

{% block title %}{% trans %}Stream{% endtrans %} | {% trans %}Messaging{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url messaging_message_compose %}" class="top-menu button add-link"><img src="/static/modules/plus-small.png">{% trans %}New Message{% endtrans %}</a>
<a href="{% url messaging_stream_add %}" class="top-menu button add-link-active"><img src="/static/modules/plus-small.png">{% trans %}New Stream{% endtrans %}</a>
{% endblock %}

{% block module_content %}


    <form action="" method="post" class="content-form">
{% csrf_token %}
        <ul class="content-form-fields">
        	<li><label class="required" for="id_name">{% trans %}Stream Title{% endtrans %}: *</label>{{ form.name|htsafe }}</li>
			<hr class="space" />
			{{ show_hint('messaging_stream', form) }}	
        </ul>
		
        <div class="content-form-submit">
            <button type="submit" name="save"  class="submit" >{% trans %}Create Stream{% endtrans %}</button>
			<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
        </div>
    </form>

{% endblock %}
