{% load i18n %}
<!-- Table markup-->

<table id="finance_table">

    <!-- Table header -->

    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"><a href="{{ htsortlink('due_date') }}" class="sort-link">{% trans %}Due Date{% endtrans %}</a></th>
            <th scope="col"><a href="{{ htsortlink('name') }}" class="sort-link">{% trans %}Description{% endtrans %}</a></th>
            <th scope="col"><a href="{{ htsortlink('source') }}" class="sort-link">{% trans %}Source{% endtrans %}</a></th>
            <th scope="col"><a href="{{ htsortlink('target') }}" class="sort-link">{% trans %}Target{% endtrans %}</a></th>
            <th scope="col"><a href="{{ htsortlink('account') }}" class="sort-link">{% trans %}Bank Account{% endtrans %}</a></th>
            <th scope="col"><a href="{{ htsortlink('value') }}" class="sort-link">{% trans %}Value in {% endtrans %}{{ currency_print() }}</a></th>
        </tr>
    </thead>
    <!-- Table body -->

    <tbody>
        {% for liability in liabilities %}

        <tr class="content-list-item content-list-item-{{ loop.cycle('odd', 'even') }}">
            <td>
                <input type="checkbox" name="mass-liability-{{ liability.id }}" value="{{ liability.id }}" class="group-mass-liabilities" />
            </td>
            <td>{% if liability.due_date %}{{ liability.due_date|htdate('SHORT_DATE_FORMAT') }}{% endif %}</td>
            {% if liability.is_receivable() %}
            <td><a href="{% url finance_receivable_view liability.id %}">{{ liability.name|truncate(length=60) }}</a></td>
            {% else %}
            <td><a href="{% url finance_liability_view liability.id %}">{{ liability.name|truncate(length=60) }}</a></td>
            {% endif %}
            <td><a href="{% url identities_contact_view liability.source_id %}" class="popup-link">{{ liability.source }}</a></td>
            <td><a href="{% url identities_contact_view liability.target_id %}" class="popup-link">{{ liability.target }}</a></td>
            <td><a href="{% url finance_account_view liability.account_id %}" class="popup-link">{{ liability.account }}</a></td>
            <td>{{ liability.value|number_format }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>