{% load i18n %}
{% extends "html/events/page.html" %}

{% block title %}{% trans %}Day{% endtrans %} | {% trans %}Calendar{% endtrans %}{% endblock %}

{% block module_title %}{% trans %}Calendar{% endtrans %}{% endblock %}

{% block class_day %}sidebar-link-active{% endblock %}

{% block module_content %}

<form action="" method="get">
    <ul class="calendar-goto-form-fields">
        {{ gotoform|htsafe }}
    </ul>
    <input type="submit" value="{% trans %}Submit{% endtrans %}">
    {% if not istoday %}
    <span style="padding-left: 3em;">
        {% trans %}Go to{% endtrans %} <a href="{% url events_day %}">{% trans %}Today{% endtrans %}</a>
    </span>
    {% endif %}
</form>
<div class="calendar-week-header">
    <div class="calendar-month-prev">
        <a href="{% url events_day %}?date_year={{ date_previous.year }}&date_month={{ date_previous.month }}&date_day={{ date_previous.day }}" class="lighter">&larr;&nbsp;{{ date_previous|htdate }}</a>
    </div>
    {{ day|htdate }}
    <div class="calendar-month-next">
        <a href="{% url events_day %}?date_year={{ date_next.year }}&date_month={{ date_next.month }}&date_day={{ date_next.day }}" class="lighter">{{ date_next|htdate }}&nbsp;&rarr;</a>
    </div>
</div>
<table class="calendar-day-table">
    <tr>
        <th scope="col" class="row-labels"></th>
        <th scope="col">{% trans %}Events{% endtrans %}</th>
    </tr>
    {% for hour in hours %}
    <tr>
        <td class="calendar-row-label content-list-item">{{ "%02d:00"|format(hour) }}</td>
        {% if now.hour == hour %}
        <td class="calendar-hour-now content-list-item">
        {% else %}
        <td class="calendar-hour content-list-item">
        {% endif %}
        {{ events.render_for_datehour(day, hour) }}
        <span class="content-list-item-actions" style="position: relative; top: 15px; width: 100%;">
            <a href="{% url events_event_add_to_date day.isoformat(), hour %}" class="inline-link add-link" style="padding: 0; width: 16px; height: 16px;"></a>
        </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
