{% extends "html/events/page.html" %}

{% block title %}{% trans %}New Event{% endtrans %} | {% trans %}Calendar{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url events_event_add %}" class="top-menu button add-link-active"><img src="/static/modules/plus-small.png">{% trans %}New Event{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<form action="" method="post" class="content-form">
{% csrf_token %}
    <ul class="content-form-fields">
        {{ htform(form).as_ul()|htsafe }}
    </ul>
    <div class="content-form-submit">
        <button type="submit" name="save" >{% trans %}Create Event{% endtrans %}</button>
		<button type="submit" name="cancel"  class="cancel" ><img src="/static/modules/cancel.png"/>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
{% endblock %}
