{% load i18n %}
{% extends "html/events/page.html" %}

{% block title %}{{ event|htsafe }} | {% trans %}Calendar{% endtrans %}{% endblock %}

{% block module_title %}{{ event|htsafe }}{% endblock %}

{% block module_subtitle %}{% trans %}Event{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a class="top-menu view-link-active" href="{% url events_event_view event.id %}">{% trans %}View{% endtrans %}</a>
{% if user.get_profile().has_permission(event, mode='w') %}
<a class="top-menu edit-link" href="{% url events_event_edit event.id %}">{% trans %}Edit{% endtrans %}</a>
<a class="top-menu delete-link" href="{% url events_event_delete event.id %}">{% trans %}Delete{% endtrans %}</a>
{% endif %}
{% endblock %}

{% block sidebar_right %}
<td class="module-sidebar-right">
<span class="sidebar-header-first">{% trans %}Permissions{% endtrans %}</span>
<div class="sidebar-block">
    {{ permission_block(event) }}
</div>
<span class="sidebar-header-right">{% trans %}Links{% endtrans %}</span>
<div class="sidebar-block">
    {{ link_block(event) }}
</div>
<span class="sidebar-header-right">{% trans %}Subscribers{% endtrans %}</span>
<div class="sidebar-block">
    {{ subscription_block(event) }}
</div>
<span class="sidebar-header-right">{% trans %}Download as:{% endtrans %}<br />{% if '?' in request.get_full_path() %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','').replace('?','.pdf?') }}"{% else %}<a class="pdf-block-link" href="{{ request.get_full_path()|replace('.ajax','') }}.pdf"{% endif %} target="_self">PDF</a>
  </span></span>
</td>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Name{% endtrans %}:</span>
    <span class="content-value">{{ event.name|safe }}</span>
</div>
{% if event.creator %}
<div>
    <span class="content-label">{% trans %}Created By{% endtrans %}:</span>
    <span class="content-value">
    	<a href="{% url identities_user_view event.creator_id %}" class="popup-link">{{ event.creator }}</a>
	</span>
</div>
{% endif %}
{% if event.location %}
<div>
    <span class="content-label">{% trans %}Location{% endtrans %}:</span>
    <span class="content-value">{{ event.location|htsafe }}</span>
</div>
{% endif %}

{% if event.start %}
<div>
    <span class="content-label">{% trans %}Start{% endtrans %}:</span>
    <span class="content-value">{{ event.start|htdatetime }}</span>
</div>
{% endif %}

<div>
    <span class="content-label">{% trans %}End{% endtrans %}:</span>
    <span class="content-value">{{ event.end|htdatetime }}</span>
</div>

<div class="spaced-v spaced-h">
  <br />
  {{ tags_box(event) }}
</div>

{{ attachments(event) }}
<br />

<div class="spaced-v spaced-h">
  {{ comments_likes(event) }}
</div>
<br />

{% if event.details %}
<div>
    <span class="content-label-head">{% trans %}Details{% endtrans %}:</span>
    <span class="content-details">{{ event.details|htsafe }}</span>
</div>
{% endif %}

{% endblock %}