/* Tree.io print styles */

#container { border-bottom: 0; margin-left: 10%; padding-top: 1em; border-top: 0 !important; margin: 0 5%;}
#footer { border: 0; display: none !important; }
#header { display: none !important; }
#menu { display: none !important; }
#wrapper, #content { border: 0; }
.help-block-link { display: none !important; }
.pdf-block-link { display: none !important; }
#add-graph { display: none !important; }
#loading-splash { display: none !important; }
.inline-link { display: none !important; }
.mass-form { display: none !important; }
.module-content { border: 0 !important; }
.module-block { box-shadow: none !important;}
.module-sidebar { display: none !important; }
.module-sidebar-right { display: none !important; }
.outside-content { border: 0 !important; }
.sidebar-slider { display: none !important; }
body { background: #ffffff; font-size: 12pt; }
div.module-top-menu-inline { display: none !important; }
form input, form select, form textarea, form label { display: none !important; }
span.content-list-item-actions { display: none; }
#user-block { display: none !important; }
/*td.div.content-list-tick { display: none !important; }
.projects-task-priority-* {display: inline-block !important;}*/
div.paginator { display:none !important; }
#top-block { display:none !important; }
#toolbar { display:none !important; }
#toolbar_action { display:none !important; }
a:link, a:visited { color: #520; background: transparent; font-weight: bold; text-decoration: underline; }
.social-activity, .tags-box { display: none !important; }
div.attachment-uploader { display:none !important; }
div.attachment-block { display:none !important; }