{% load i18n %}
{% extends "html/core/page.html" %}

{% block title %}{% trans %}Overview{% endtrans %} | {% trans %}Billing{% endtrans %} | {% trans %}Administration{% endtrans %}{% endblock %}


{% block module_title %}{% trans %}Billing{% endtrans %}{% endblock %}

{% block module_topmenu %}
<a href="{% url core_billing_overview %}" class="top-menu view-link-active">{% trans %}Overview{% endtrans %}</a>
<a href="{% url core_billing_information %}" class="top-menu edit-link">{% trans %}Billing Information{% endtrans %}</a>
<a href="{% url core_billing_upgrade %}" class="top-menu add-link">{% trans %}Upgrade Account{% endtrans %}</a>
{% endblock %}

{% block class_billing %}sidebar-link-active{% endblock %}

{%  block module_content %}

    <p>You have {{ active_users }} active users ({{ disabled_users }} currently disabled).</p>

    <p>Your account can have up to {{ quota }} active users. Click here to <a href="{% url core_billing_upgrade %}">upgrade</a>.</p>


{%  endblock %}