{% load i18n %}
{% if orders %}
    <table class="sales_table">

        <!-- Table header -->

        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"><a href="{{ htsortlink('reference') }}" class="sort-link">{% trans %}Order #{% endtrans %}</a></th>
                <th scope="col"><a href="{{ htsortlink('client') }}" class="sort-link">{% trans %}Client{% endtrans %}</a></th>
                <th scope="col"><a href="{{ htsortlink('status') }}" class="sort-link">{% trans %}Status{% endtrans %}</a></th>
                <th scope="col"><a href="{{ htsortlink('total') }}" class="sort-link">{% trans %}Sub Total{% endtrans %}</a></th>
                <th scope="col">{% trans %}Payments{% endtrans %}</th>
                <th scope="col"><a href="{{ htsortlink('date_created') }}" class="sort-link">{% trans %}Date Opened{% endtrans %}</a></th>
                <th scope="col"><a href="{{ htsortlink('last_updated') }}" class="sort-link">{% trans %}Last updated{% endtrans %}</a></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <!-- Table body -->

        <tbody>

            {% for order in orders %}

         <tr class="content-list-item content-list-item-{{ loop.cycle('odd', 'even') }}">
                <td>
                      <input type="checkbox" name="mass-order-{{ order.id }}" value="{{ order.id }}" class="group-mass-orders" />
                </td>
                <td>
                   <b><a href="{% url sales_order_view order.id %}">{{ order.reference }}</a></b> {{ attachments_count(order) }}
                </td>
                <td>
                  {% if order.client %}
                    <a href="{% url identities_contact_view order.client.id %}" class="author-link popup-link">{{ order.client }}</a>
                  {% else %}
				            -
				          {% endif %}
                </td>
                <td>
                  <a href="{% url sales_status_view order.status_id %}">{{ order.status }}</a>
                </td>
                <td>
                  {{ order.total|number_format()|currency_format }}
                </td>
                
                <td>
                	{% if order.balance_due() > 0 or order.get_total() == 0 %}
                  <a href="{% url finance_transaction_add_order order.id %}" class ="inline-link add-link popup-link">{% trans %}Add{% endtrans %}</a>
                    {% else %}
                  {% trans %}Paid in full{% endtrans %}
                  {% endif %}
                </td>
                <td>
                  {%- if order.datetime %}{{ order.datetime|htdate }}{%- endif %}
                </td>
                   <td>{{ last_updated(order) }}</td>
                <td>
                  {% if user.get_profile().has_permission(order, mode='w') %}
                  <span class="content-list-item-actions table-link"><a href="{% url sales_order_edit order.id %}" class="inline-link edit-link popup-link">{% trans %}Edit{% endtrans %}</a></span>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endif %}
