{% load i18n %}
{% extends "html/base_widget.html" %}

{% block widget_title %}{% trans %}No Contact{% endtrans %}:{% endblock %}

{% block widget_content %}
<div class="spaced-h">
    <p>
        {% trans %}Sorry, you do not have a Contact Card{% endtrans %}.
        {% if request.user.get_profile().is_admin('treeio.identities') %}
        {% trans %}Maybe you want to{% endtrans %} <a href="{% url identities_contact_add %}" class="inline-link add-link popup-link">{% trans %}Add</a> one{% endtrans %}?
        {% endif %}
    </p>
</div>
{% endblock %}
