body {
	background: #e0e0e0;
}

#header {
 	padding: 10px 20px 0;
    text-align: center;
	background: #fff;
}

.logo {
	max-width: 200px;
	max-height: 70px;
	padding: 2px 4px 2px 4px;
}

.ui-footer {
	padding: 0 0 10px 0;
	background: #e0e0e0;
}

.ui-li {
	overflow: visible;
}
.ui-li-desc {
	margin-top: 0;
}
.ui-li-icon {
	top: 10px;
	left: 10px;
}

.ui-bar-c {
	border: none;
	text-align: center;
}

.ui-body-c .ui-link {
	color: #444;
}

.ui-li-heading {

}

.ui-content {
	padding-top: 0;
}

li {
	list-style: none;
}

hr.space {background: #fff; color: #fff; visibility: hidden; margin: 0 0 1.45em}

.left {float: left; margin: 0 10px 5px 0;padding: 0;}

li { padding: 3px 0;}

.scroll-view {
	min-width: 900px;
	height: 200px;
}

.content-label {
	display: inline-block;
    padding: 0.4em 0 0.4em 1em;
    min-width: 90px;
    width: 16%;
    vertical-align: top;
}

.content-value {
    display: inline-block;
    padding: 0.4em 0;
    color: #000;
    vertical-align: top;
}
.helptext {
	display: none;
}

.logo-large {
    max-height: 80px;
    max-width: 280px;
}
