{% extends "html/identities/page.html" %}

{% block title %}{{ location|htsafe }} | {% trans %}Identities{% endtrans %}{% endblock %}

{% block module_title %}{{ location }}{% endblock %}
{% block module_subtitle %}{% trans %}Location{% endtrans %}{% endblock %}

{% block module_topmenu %}

<a href="{% url identities_location_edit location.id %}" class="top-menu button edit-link button edit-link"><img src="/static/modules/pencil-small.png">{% trans %}Edit{% endtrans %}</a>
<a href="{% url identities_location_delete location.id %}" class="top-menu button edit-link button delete-link"><img src="/static/modules/pencil-small.png"><img src="/static/modules/cross-small.png">{% trans %}Delete{% endtrans %}</a>
{% endblock %}

{% block module_content %}

<div>
    <span class="content-label">{% trans %}Name{% endtrans %}:</span>
    <span class="content-value"><strong>{{ location.name }}</strong></span>
</div>
{% if location.parent %}
<div>
    <span class="content-label">{% trans %}Parent{% endtrans %}:</span>
    <span class="content-value"><a href="{% url identities_location_view location.parent_id %}">{{ location.parent }}</a></span>
</div>
{% endif %}

<div class="clear">
</div>
{% endblock %}